/* animations.css */

.ANIMATIONS-EllipsisLoader {
    position: absolute;
}

.ANIMATIONS-EllipsisLoader:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0px;
    font-size: 1em;
    position: absolute;
    height: 1.4rem;
}

@keyframes ellipsis {
    to {
        width: 0.7rem;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 0.7rem;
    }
}