:root {
    --LCD-widthOfMenuContainer: 1rem;

    --LCD-widthOfTimeIndicators: 2rem;


    --LCD-afterContent-bottom-left: "0:00";
    --LCD-afterContent-bottom-right: "-0:00";

    --LCD-seekbar-indicator-left: 0%;

    --LCD-seekbar-width: 0%;

    --LCD-background: hsl(0, 0%, 99%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --LCD-background: hsl(0, 0%, 2%);
    }
}

.LCDbody {
    position: relative;
    width: 98%;
    height: 80%;
    top: 10%;
    left: 1%;
    border-radius: 5px;
    outline: 1px solid var(--grey);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .LCDbody {
        left: 5%;
        outline: 1px solid transparent;

    }
}

.LCDPlaybackStoppedContainer {
    position: absolute;
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    z-index: 10;
    border-radius: 5px;
    background-color: var(--LCD-background);
    overflow: hidden;

    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-areas: "image title other";
    visibility: visible;
}

.LCDPlaybackStoppedContainer .image {
    grid-area: image;
}

.LCDPlaybackStoppedContainer .title {
    width: 100%;
    height: 100%;
    text-align: center;
    grid-area: title;
    justify-content: center;
}

.LCDPlaybackStoppedContainer>.title>h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: var(--font-secondary);
}

.LCDPlaybackStoppedContainer .other {
    grid-area: other;
}

.LCDcontentContainer {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;

    background-color: var(--LCD-background);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.LCDcontentContainer::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    top: 0;
    left: 0;
    background-image:
        radial-gradient(at 0% 00%, hsla(230, 60%, 80%, 0.25) 0px, transparent 100%),
        radial-gradient(at 60% 90%, hsla(255, 0%, 95%, 0.15) 0px, transparent 100%),
        radial-gradient(at 100% 20%, hsla(162, 100%, 83%, 0.15) 0px, transparent 100%),
        radial-gradient(at 80% 50%, hsla(100, 0%, 90%, 0.15) 0px, transparent 100%);
}

@media screen and (pointer: fine) {
    .LCDcontentContainer:hover::before {
        opacity: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .LCDcontentContainer {
        background-color: hsl(0, 0%, 2%);

    }
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .LCDcontentContainer {
        display: none;
    }
}

.LCDleftImage {
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
}

.LCDleftImage::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: ;
    transition-duration: 0.2s;
    transition-property: box-shadow;
}

.LCDleftImage:hover::after {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 30px -6px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -9px inset;
}

.LCDleftImage:hover {
    cursor: pointer;
}

.LCDleftImage:focus {}

.LCDleftImage:active::after {
    background-color: var(--background-transparent);
}

.LCDleftImage img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    object-fit: cover;
}

.LCDrightContent {
    flex: 1 1 auto;
    position: relative;
}

.LCDright-titleTextAndMenuContainer {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LCDrightTitleText-centreBox {
    height: auto;
    display: flex;
    align-items: center;
    width: auto;
    overflow: hidden;
}

.LCDrightTitleText-leftSpacer {
    flex: 0 0 var(--LCD-widthOfMenuContainer);
    height: 1rem;
    padding-left: 0.3rem;
}

.LCDrightTitleText-text {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1rem;
    font-size: 0.8rem;
    font-weight: 600;

    color: var(--text-third);
}


.LCDrightTitleText-menuContainer {
    position: relative;
    flex: 0 0 var(--LCD-widthOfMenuContainer);
    height: 1rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    padding-left: 0.3rem;
}

.LCDrightTitleText-menuContainer img {
    position: relative;
    height: 100%;
    aspect-ratio: 2/3;
    opacity: 0%;
    transition: opacity 150ms ease-in-out;
    transition: opacity 30ms ease-in-out;

    filter: var(--make-svg-black);
}

@media (prefers-color-scheme: dark) {
    .LCDrightTitleText-menuContainer img {
        filter: var(--make-svg-black);
    }
}

.LCDbody:hover img {
    opacity: 100%;
}

.LCDright-bottomTextPlusTimeIndicatorsContainer {
    position: relative;
    height: 1.6rem;
    width: 100%;
    display: flex;
}


.LCDright-bottomTextTimeIndicatorsLeft {
    position: relative;
    width: var(--LCD-widthOfTimeIndicators);
    height: 100%;
    font-size: 0.7rem;
}

.LCDright-bottomTextTimeIndicatorsLeft::after {
    content: var(--LCD-afterContent-bottom-left);
    position: absolute;
    bottom: 0.1rem;
    left: 0.3rem;
    opacity: 0%;
    transition: opacity 30ms ease-in-out;

    color: var(--text-secondary);
}

.LCDbody:hover .LCDright-bottomTextTimeIndicatorsLeft::after {
    opacity: 100%;
}

.LCDright-bottomTextTimeIndicatorsRight {
    position: relative;
    width: var(--LCD-widthOfTimeIndicators);
    height: 100%;
    font-size: 0.7rem;
}

.LCDright-bottomTextTimeIndicatorsRight::after {
    content: var(--LCD-afterContent-bottom-right);
    position: absolute;
    bottom: 0.1rem;
    right: 0.3rem;
    opacity: 0%;
    transition: opacity 30ms ease-in-out;

    color: var(--text-secondary);
}

.LCDbody:hover .LCDright-bottomTextTimeIndicatorsRight::after {
    opacity: 100%;
}


.LCDright-bottomText-text-container {
    position: relative;
    width: calc(100% - (2 * var(--LCD-widthOfTimeIndicators)));
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    font-weight: 400;

    color: var(--text-secondary);
}

.LCDright-bottomText-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* LCD seek bar code ----------------------------------------- */
.LCDright-bottom-seekBar {
    position: absolute;
    width: 100%;
    height: 1rem;
    bottom: 0;
}

.LCDright-bottom-seekBar input[type="range"] {
    position: relative;
    top: 0;
    left: 0rem;
    -webkit-appearance: none;
    visibility: hidden;
    width: calc(100% - 0.2rem);
    height: 100%;
    cursor: grabbing;
}

.LCDright-bottom-seekBar input[type="range"]::-webkit-slider-thumb {
    position: relative;
    visibility: visible;
    -webkit-appearance: none;
    height: 40%;
    width: 0.13rem;
    top: 60%;
    cursor: ew-resize;
    transition: 30ms ease-in-out;
    cursor: grabbing;
    opacity: 0%;
    z-index: 2;

    background-color: var(--primary);
}

.LCDbody:hover input[type="range"]::-webkit-slider-thumb {
    opacity: 100%;
}

.LCDright-bottom-seekBar input[type=range]::-webkit-slider-runnable-track {
    position: relative;
    visibility: visible;
    -webkit-appearance: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.LCDright-bottom-seekBar-indicator::before {
    content: "";
    width: var(--LCD-seekbar-width);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;

    background-color: var(--text-secondary);
}

@media (prefers-color-scheme: dark) {
    .LCDright-bottom-seekBar-indicator::before {
        background-color: var(--text-third);
    }
}

.LCDright-bottom-seekBar-indicator {
    position: absolute;
    width: 100%;
    height: 0.1rem;
    bottom: 0;
}

/* mobile ------- */
.LCDcontentContainerMobile {
    display: none;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .LCDcontentContainerMobile {
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
    }

    .LCDleftImage {
        height: 3.2rem;
        aspect-ratio: 1/1;
        flex: 0 0 auto;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }

    .LCDleftImage img {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        object-fit: cover;
    }

    .LCDtitleTextMobile {
        position: absolute;
        top: 0;
        left: 3.7rem;
        height: 3.2rem;
        width: calc(100% - 3.6rem);
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--text);
    }
}