:root {
    --LCDMB-backdrop-filter: blur(10px) contrast(0.7) brightness(1.2);
}

.LCD_mobile_body_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

    /*
    background-color: darkred;
    background-color: hsla(330, 20%, 30%, 1.0);

    background-image:
        radial-gradient(at 60% 30%, hsla(230, 60%, 60%, 0.5) 0px, transparent 100%),
        radial-gradient(at 60% 90%, hsla(255, 90%, 75%, 0.5) 0px, transparent 100%),
        radial-gradient(at 100% 20%, hsla(162, 100%, 73%, 0.5) 0px, transparent 100%);

        */


}

.LCD_mobile_body_background {
    position: absolute;
    height: 100%;
    width: 100%;
}


.LCD_mobile_body_container_l2 {
    --offset: 1.5rem;
    position: relative;
    width: calc(100% - (2 * var(--offset)));
    margin-left: var(--offset);
    height: 100%;
    display: grid;
    grid-template-areas:
        "LCD_mobile_body_img"
        "LCD_mobile_body_secondary_seek_indicator"
        "LCD_mobile_body_queue_container"

        "LCD_mobile_body_title_area_container"
        "LCD_mobile_body_playback_controls_area_container"
        "LCD_mobile_body_further_options_button_container"

    ;
    z-index: 2;
}

.LCD_mobile_body_container_l2.queue_visible {
    grid-template-areas:
        "LCD_mobile_body_img LCD_mobile_body_title_area_container"

        "LCD_mobile_body_queue_container LCD_mobile_body_queue_container"

        "LCD_mobile_body_secondary_seek_indicator LCD_mobile_body_secondary_seek_indicator"

        "LCD_mobile_body_playback_controls_area_container LCD_mobile_body_playback_controls_area_container"
        "LCD_mobile_body_further_options_button_container LCD_mobile_body_further_options_button_container"

    ;

}

.LCD_mobile_body_img {
    position: relative;
    display: block;
    aspect-ratio: 1/1;
    overflow: hidden;

    grid-area: LCD_mobile_body_img;
}

.LCD_mobile_body_img.queue_visible {
    height: 4.4rem;
    left: 0;
    margin-top: 1rem;
}


.LCD_mobile_body_img img {
    position: relative;
    height: 80%;
    width: 80%;
    inset: 10%;
    object-fit: cover;
    border-radius: 1rem;
}

.LCD_mobile_body_img.queue_visible img {
    border-radius: 0.5rem;
    inset: 5%;
    height: 90%;
    width: 90%;
}

/* title area  */
.LCD_mobile_body_title_area_container {
    position: relative;
    color: white;

    width: 100%;
    overflow: hidden;
    height: 5rem;

    grid-area: LCD_mobile_body_title_area_container;

    display: grid;
    grid-template-areas:
        "LCD_mobile_body_song_title   LCD_mobile_body_song_title   LCD_mobile_body_menu"
        "LCD_mobile_body_artist_title LCD_mobile_body_artist_title LCD_mobile_body_menu"
        "LCD_mobile_body_artist_title LCD_mobile_body_artist_title LCD_mobile_body_menu"
        "LCD_mobile_body_artist_title LCD_mobile_body_artist_title LCD_mobile_body_menu"
        "LCD_mobile_body_artist_title LCD_mobile_body_artist_title LCD_mobile_body_menu"
        "LCD_mobile_body_progress_bar LCD_mobile_body_progress_bar LCD_mobile_body_progress_bar"


    ;
}

.LCD_mobile_body_title_area_container.queue_visible {
    margin-top: 1rem;
    position: absolute;
    width: 110%;
    left: 0%;


    grid-template-areas:
        "LCD_mobile_body_song_title   LCD_mobile_body_song_title   LCD_mobile_body_menu"
        "LCD_mobile_body_artist_title LCD_mobile_body_artist_title LCD_mobile_body_menu"
        "LCD_mobile_body_progress_bar LCD_mobile_body_progress_bar LCD_mobile_body_progress_bar"
    ;
}

.LCD_mobile_body_song_title {
    grid-area: LCD_mobile_body_song_title;
    position: relative;
    color: white;
    font-weight: 600;

    width: calc(100% - 2.5rem);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.LCD_mobile_body_song_title.queue_visible {
    width: calc(100% - 1.5rem);
    top: 0.9rem;
}

.LCD_mobile_body_artist_title {
    grid-area: LCD_mobile_body_artist_title;
    color: white;
    opacity: 0.8;
    font-weight: 400;
    width: calc(100% - 2.5rem);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.LCD_mobile_body_artist_title.queue_visible {
    width: calc(100% - 1.5rem);
}

.LCD_mobile_body_progress_bar {
    grid-area: LCD_mobile_body_progress_bar;

    height: 1rem;
    align-self: end;
    align-items: center;
    justify-content: center;
    display: flex;

    margin-bottom: 0.5rem;
    width: 100%;
}

.LCD_mobile_body_progress_bar.queue_visible {
    display: none;
}

.LCD_mobile_body_progress_bar span {
    position: absolute;
    width: 0%;
    background-color: hsla(180, 00%, 100%, 0.5);
    height: 0.5rem;
    left: 0rem;
    border-radius: 1rem;
    pointer-events: none;
    transition: 0.1s width ease-in-out;
}


.LCD_mobile_body_progress_bar input[type="range"] {
    width: 100%;
    height: 0.5rem;
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;

    backdrop-filter: var(--LCDMB-backdrop-filter);
    -webkit-backdrop-filter: var(--LCDMB-backdrop-filter);
    backdrop-filter: blur(10px) contrast(0.7) brightness(1.2);
    -webkit-backdrop-filter: blur(10px) contrast(0.7) brightness(1.2);
    border-radius: 1rem;
}



/* Style the slider thumb (handle) */
.LCD_mobile_body_progress_bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    aspect-ratio: 1/1;
    height: 2rem;

    background-color: transparent;
}

.LCD_mobile_body_menu {
    grid-area: LCD_mobile_body_menu;

}

.LCD_mobile_body_menu button {
    grid-area: LCD_mobile_body_menu;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    right: 0;
    position: absolute;
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
    background-color: transparent;

    backdrop-filter: var(--LCDMB-backdrop-filter);
    webkit-backdrop-filter: var(--LCDMB-backdrop-filter);
    backdrop-filter: blur(10px) contrast(0.7) brightness(1.2);
}

.LCD_mobile_body_menu.queue_visible {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 0.5rem;
}



.LCD_mobile_body_menu button img {
    position: relative;
    top: 0.1rem;
}

/* mobile queue */
.LCD_mobile_body_queue_container {
    grid-area: LCD_mobile_body_queue_container;
    display: none;
    visibility: hidden;
}

.LCD_mobile_body_queue_container.queue_visible {
    display: block;
    visibility: visible;
    width: 100%;
    aspect-ratio: 7/10;

    overflow-y: scroll;
}

.LCD_mobile_queue_top_container {
    position: absolute;
    width: 100%;
    height: 2.5rem;

    display: grid;
    grid-template-areas:
        "LCD_mobile_body_queue_playing_next LCD_mobile_body_queue_button_container"
        "LCD_mobile_body_queue_from LCD_mobile_body_queue_button_container"
    ;
}

.LCD_mobile_body_queue_playing_next {
    grid-area: LCD_mobile_body_queue_playing_next;

    color: white;
    font-weight: 600;

    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.LCD_mobile_body_queue_from {
    grid-area: LCD_mobile_body_queue_from;

    color: white;
    opacity: 0.8;
    font-weight: 400;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.LCD_mobile_body_queue_button_container {
    grid-area: LCD_mobile_body_queue_button_container;
    display: flex;
    justify-content: space-between;
    inset: 10%;
    width: 80%;
    height: 80%;
    position: absolute;

}

.LCD_mobile_body_queue_button_container button {
    background-color: transparent;
    border: none;

    backdrop-filter: brightness(2) saturate(0.5) contrast(0.8) blur(10px);
    -webkit-backdrop-filter: brightness(2) saturate(0.5) contrast(0.8) blur(10px);
    border-radius: 8px;
    height: 1.8rem;
    width: 1.8rem;
    aspect-ratio: 1/1;

    /*
    -webkit-mask-image: url(/assets/v3/shuffle_mask.png);
    mask-image: url(/assets/v3/shuffle_mask.png);

    */

    mask-mode: alpha;

    /*mask-mode: alpha;
    background-color: hsla(0, 00%, 90%, 0.8);*/
}

.LCD_mobile_body_queue_button_container button img {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
}


.LCD_mobile_queue_content_container {
    position: relative;
    top: 3rem;
    width: 100%;
    height: calc(100% - 3rem);

    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.LCD_mobile_queue_content_container *::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.lcd_mobile_queue_item {
    position: relative;
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-areas:
        "lcd_mobile_queue_item_song_img lcd_mobile_queue_item_song_name"
        "lcd_mobile_queue_item_song_img lcd_mobile_queue_item_song_artist"

    ;

    grid-template-columns: 3.8rem 1fr;

    margin-bottom: 0.8rem;
}

.lcd_mobile_queue_item_song_img {
    grid-area: lcd_mobile_queue_item_song_img;
    aspect-ratio: 1/1;
    height: 3rem;
    border-radius: 6px;
}

.lcd_mobile_queue_item_song_name {
    grid-area: lcd_mobile_queue_item_song_name;
    color: white;
}

.lcd_mobile_queue_item_song_artist {
    grid-area: lcd_mobile_queue_item_song_artist;
    color: hsla(0, 00%, 80%, 0.6);
    color: hsl(0, 00%, 70%);
}


.LCD_mobile_body_secondary_seek_indicator {
    grid-area: LCD_mobile_body_secondary_seek_indicator;
    display: none;
    visibility: hidden;
}

.LCD_mobile_body_secondary_seek_indicator.queue_visible {
    display: block;
    visibility: visible;
    height: 1rem;
}

.LCD_mobile_body_progress_bar {
    grid-area: LCD_mobile_body_progress_bar;

    height: 1rem;
    align-self: end;
    align-items: center;
    justify-content: center;
    display: flex;

    margin-bottom: 0.5rem;
    width: 100%;
}

.LCD_mobile_body_progress_bar.queue_visible {
    display: none;
}

.LCD_mobile_body_progress_bar_secondary span {
    position: absolute;
    width: 0%;
    background-color: hsla(180, 00%, 100%, 0.5);
    height: 0.5rem;
    left: 0rem;
    border-radius: 1rem;
    pointer-events: none;
    transition: 0.1s width ease-in-out;
}


.LCD_mobile_body_progress_bar_secondary input[type="range"] {
    width: 100%;
    height: 0.5rem;
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;

    backdrop-filter: var(--LCDMB-backdrop-filter);
    -webkit-backdrop-filter: var(--LCDMB-backdrop-filter);
    backdrop-filter: blur(10px) contrast(0.7) brightness(1.2);
    -webkit-backdrop-filter: blur(10px) contrast(0.7) brightness(1.2);
    border-radius: 1rem;
}



/* Style the slider thumb (handle) */
.LCD_mobile_body_progress_bar_secondary input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    aspect-ratio: 1/1;
    height: 2rem;

    background-color: transparent;
}


/* playback controls */
.LCD_mobile_body_playback_controls_area_container {
    position: relative;
    grid-area: LCD_mobile_body_playback_controls_area_container;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.LCD_mobile_body_playback_controls_area_container div {
    display: grid;
    align-items: center;
    justify-content: center;
}

.LCD_mobile_body_playback_controls_area_container div button {
    aspect-ratio: 1/1;
    height: 5rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

/* further options */
.LCD_mobile_body_further_options_button_container {
    position: relative;
    grid-area: LCD_mobile_body_further_options_button_container;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.LCD_mobile_body_further_options_button_container div {
    display: grid;
    align-items: center;
    justify-content: center;
}

.LCD_mobile_body_further_options_button_container div button {
    aspect-ratio: 1/1;
    height: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.LCD_mobile_body_further_options_button_container div:nth-child(1) {
    opacity: 0.1;
}







































/**/