/* a darkening blur with added grain noise */
.MATERIAL-blur-1 {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px) contrast(0.6) brightness(0.6);
    -webkit-backdrop-filter: blur(10px) contrast(0.6) brightness(0.6);


    overflow: hidden;
}

/*
    background-image:
        radial-gradient(at 60% 30%, hsla(230, 60%, 60%, 0.5) 0px, transparent 100%),
        radial-gradient(at 60% 90%, hsla(255, 90%, 75%, 0.5) 0px, transparent 100%),
        radial-gradient(at 100% 20%, hsla(162, 100%, 73%, 0.5) 0px, transparent 100%);
    */

/*
.MATERIAL-blur-1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.2;
    filter: url(#noise1);
    z-index: -1;
}
*/

/* a simple lightening blur */
.MATERIAL-blur-2 {
    background-color: rgba(256, 256, 256, 0.2);
    backdrop-filter: blur(5px) contrast(0.2) brightness(0.8);
    -webkit-backdrop-filter: blur(5px) contrast(0.2) brightness(0.8);

    overflow: hidden;

}

/* a simple lightening blur */
.MATERIAL-blur-22 {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px) contrast(0.6);
    -webkit-backdrop-filter: blur(10px) contrast(0.6);
    overflow: hidden;

}

/* a darkening blur with added mushroom noise  */
.MATERIAL-blur-3 {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px) contrast(0.8) brightness(0.80);
    -webkit-backdrop-filter: blur(5px) contrast(0.8) brightness(0.80);

    overflow: hidden;
}

.MATERIAL-blur-3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.4;
    filter: url(#noise2);
    z-index: -1;
}

/* a darkening blur with polka dots */
.MATERIAL-blur-4 {
    background-color: rgba(256, 256, 256, 0.25);
    backdrop-filter: blur(5px) contrast(0.6) brightness(0.8);
    -webkit-backdrop-filter: blur(5px) contrast(0.6) brightness(0.8);
    /*
    background-image:
        radial-gradient(at 50% 50%, hsla(230, 100%, 80%, 0.5) 0px, transparent 100%),
        radial-gradient(at 100% 00%, hsla(255, 100%, 75%, 0.5) 0px, transparent 100%),
        radial-gradient(at 00% 100%, hsla(162, 100%, 80%, 0.5) 0px, transparent 100%);

    */
    overflow: hidden;
}


.MATERIAL-blur-4::before {
    content: '';
    position: absolute;
    top: -10px;
    /* Adjust the top and left values to position the pattern */
    left: -10px;
    right: -10px;
    bottom: -10px;
    pointer-events: none;
    z-index: -1;
}

.MATERIAL-blur-4::before {
    --circle-size: 5px;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 50%);
    background-size: var(--circle-size) var(--circle-size);
    /* Adjust the size of the dots */
    background-position: 0 0, 5px 5px;
    /* Adjust the position of the dots */
    z-index: -1;
}

.MATERIAL-blur-5 {
    background-color: rgba(256, 256, 256, 0.2);
    backdrop-filter: blur(5px) contrast(0.8) brightness(0.4);
    -webkit-backdrop-filter: blur(5px) contrast(0.8) brightness(0.4);
    overflow: hidden;
}

.MATERIAL-blur-6 {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px) contrast(0.8) brightness(0.7);
    -webkit-backdrop-filter: blur(8px) contrast(0.8) brightness(0.7);
    overflow: hidden;

}

.MATERIAL-blur-6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.2;
    filter: url(#noise1);
    z-index: -1;
}

.MATERIAL-meshBackground {
    background-color: var(--background);
}

/*
.MATERIAL-meshBackground {
    background-color: hsla(255, 90%, 9%, 1);
    overflow: hidden;
}

.MATERIAL-meshBackground::before {
    --splash-colour: var(--violet-2);
    --splash-colour: var(--cyan-2);
    --splash-colour: var(--indigo-8);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    width: 1200px;
    height: 200px;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, var(--splash-colour) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    filter: blur(50px);
}*/