.menuModalEnvironment {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.menuModalBackground {}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .menuModalBackground {
        backdrop-filter: brightness(0.8) saturate(0.0);
        background-color: var(--background-overlay);
    }

    /* Check if backdrop-filter is supported */
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .menuModalBackground {
            backdrop-filter: brightness(0.8) saturate(0.0);
            background-color: transparent;
        }
    }
}

.MENUmodalBody {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14rem;
    border-radius: 8px;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;

    border-bottom: 1px solid var(--text-secondary);
    border-right: 1px solid var(--text-secondary);
    background-color: var(--transparent-overlay);

    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
}

@media (prefers-color-scheme: dark) {
    .MENUmodalBody {
        border-bottom: 1px solid var(--grey);
        border-right: 1px solid var(--grey);
    }
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalBody {
        bottom: 0 !important;
        top: auto !important;
        width: 100%;
        left: 0 !important;
        border-radius: 0;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
    }
}

.MENUmodalItemContainer {
    all: unset;
    position: relative;
    height: 2.5rem;
    width: calc(100% - 2px);
    display: flex;
    align-items: center;
    pointer-events: all;
    inset: 1px;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalItemContainer {
        height: 4rem;
    }
}

.MENUmodalItemContainer:not(:last-child) {
    border-bottom: 1px solid var(--text-secondary);
}

@media (prefers-color-scheme: dark) {
    .MENUmodalItemContainer:not(:last-child) {
        border-bottom: 1px solid var(--text-secondary) border-right: 1px solid var(--grey);
    }
}

.MENUmodalBody .MENUmodalItemContainer:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 2px;
}

.MENUmodalBody .MENUmodalItemContainer:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 1px;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalBody {
        border: none;
    }

    .MENUmodalItemContainer:not(:last-child) {
        border: none;
    }
}

.MENUmodalItemContainer:hover {
    background-color: var(--transparent-overlay-focus);
}

.MENUmodalItemContainer:focus {
    outline: 1px solid var(--secondary);
    background-color: var(--secondary-weak);
}

.MENUmodalItemContainer:active {
    outline: 1px solid var(--secondary);
    background-color: var(--secondary);
}

.MENUmodalTextArranger {
    position: relative;
    left: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    pointer-events: none;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalTextArranger {
        font-size: 1.2rem;
        left: 2.5rem;
    }
}

.MENUmodalSVGcontainer {
    position: absolute;
    height: 1.2rem;
    aspect-ratio: 1/1;
    right: 0.5rem;
    pointer-events: none;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalSVGcontainer {
        left: 1rem;
    }
}

.MENUmodalSVG {
    height: 100%;
    aspect-ratio: 1/1;
    pointer-events: none;
    filter: var(--make-svg-black);
}

/* the image project updaters modal --------------------------------- */
.MENUmodalBody_image_select {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12rem;
    width: 12rem;
    border-radius: 8px;
    z-index: 2;
    pointer-events: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, minmax(1rem, 2fr));
    grid-auto-rows: 1fr;
    grid-template-areas:
        "file-select file-select"
        "image-preview file-submit";

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: var(--transparent-overlay);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalBody_image_select {
        top: auto !important;
        bottom: 0px !important;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.MENUmodalBody_image_select_file_drop_area,
.MENUmodalBody_image_preview_area,
.MENUmodalBody_image_submit_area {
    position: relative;
    inset: 0.5rem;
    height: calc(100% - (2 * 0.5rem));
    width: calc(100% - (2 * 0.5rem));
    border-radius: 8px;
    overflow: hidden;

    background-color: var(--transparent-overlay-focus);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {

    .MENUmodalBody_image_select_file_drop_area,
    .MENUmodalBody_image_preview_area,
    .MENUmodalBody_image_submit_area {
        inset: 1rem;
        height: calc(100% - (2 * 1rem));
        width: calc(100% - (2 * 1rem));
        border-radius: 1rem;
    }
}

.MENUmodalBody_image_select_file_drop_area {
    grid-area: file-select;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;

    color: var(--text);
    outline: 1px solid var(--text-secondary);
}

.MENUmodalBody_image_select_file_drop_area button {
    all: unset;
    position: relative;
    width: 60%;
    text-align: center;
    left: 20%;
}

.MENUmodalBody_image_preview_area {
    grid-area: image-preview;

    outline: 2px solid var(--text-third);
}

.MENUmodalBody_image_preview_area img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.MENUmodalBody_image_submit_area {
    grid-area: file-submit;
    border-radius: 50%;

    outline: 3px solid var(--accent);
}

.MENUmodalBody_image_submit_area button {
    all: unset;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    visibility: hidden;

    color: var(--text);
    background-color: var(--primary);
}

.MENUmodalBody_image_submit_area_loader_spinner {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.MENUmodalBody_image_submit_area_loader_spinner div {
    border-radius: 50%;
    width: 96%;
    height: 96%;
    animation: MENU_LOADER_spin 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;

    border-top: 4px solid var(--text-third);
}

@keyframes MENU_LOADER_spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}