:root {
    --MOG-height-of-MOGitem: 19rem;

    --MOG-hover-background: var(--primary);


    --MOG-outline-colour: var(--text-secondary);
    --MOG-text: var(--text);
    --MOG-text-secondary: var(--text-secondary);
}

.MOG-container {
    width: 100%;
    position: relative;
    z-index: 1;
    top: calc(var(--height-of-top) + 0rem);
    height: calc(100% - 5rem);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MOG-container {
        top: 1rem;
    }
}

.MOG-grid {
    position: relative;
    height: 100%;
    width: calc(100% - 2rem);
    margin: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MOG-grid {
        margin-top: 0rem;
    }
}

.MOG-grid::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.MOG-grid .MOG-itemContainer:last-child::after {
    background-color: transparent;
}

/* music object grid items ---- */
.MOG-itemContainer {
    all: unset;
    position: relative;
    width: calc(100% - 2px);
    height: 3rem;
    left: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    transition: height 0.1s ease-in-out;
    display: grid;
    grid-template-areas:
        "MOG-image MOG-play MOG-text MOG-date MOG-menu"
    ;
    grid-template-columns: 4rem 2.5rem calc(100% - 12rem) 2.5rem 3rem;

    border-radius: 8px;
}

.MOG-itemContainer:hover {
    cursor: pointer;
    background-color: var(--secondary-weak);
}

.MOG-itemContainer:focus {
    outline: 1px solid var(--secondary);
    background-color: var(--secondary-weak);
}

.MOG-itemContainer:active {
    background-color: var(--secondary);
    outline: 1px solid var(--secondary);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MOG-itemContainer {
        height: 4rem;
    }
}

.MOG-itemContainer::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 1px;

    background-color: var(--grey);
}

.MOG-itemImageContainer {
    grid-area: MOG-image;
    position: relative;
    height: 80%;
    top: 10%;
    left: 1rem;
    aspect-ratio: 1/1;
    border-radius: 6px;
    overflow: hidden;
    pointer-events: none;
}

.MOG-itemImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: relative;
    pointer-events: none;
}

.MOG-itemTextContainer {
    grid-area: MOG-text;
    position: relative;
    width: 100%;
    margin-top: 0.3rem;
    pointer-events: none;
}

.MOG-itemTextTop {
    position: relative;
    font-size: 0.93rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    color: var(--MOG-text);
}

.MOG-itemTextBottom {
    position: relative;
    font-size: 0.8rem;
    overflow: hidden;
    width: calc(100% - 1.8rem);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    color: var(--MOG-text-secondary);
}

.MOG-itemCheckedDate {
    grid-area: MOG-date;
    font-size: 0.8rem;
    width: 100%;
    color: var(--MOG-text-secondary);
    display: grid;
    align-items: center;
    text-align: right;
}

.MOG-item-controls-play {
    grid-area: MOG-play;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}

.MOG-item-controls-play div {
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    justify-content: center;
    pointer-events: none;
}

.MOG-itemContainer:hover .MOG-item-controls-play {
    opacity: 100%;
}

.MOG-item-controls-play:hover div {
    background-color: var(--MOG-hover-background);
}

.MOG-item-controls-play img {
    position: relative;
    height: 1rem;
    width: 1rem;
    left: 0.1rem;
    pointer-events: none;

    filter: var(--make-svg-black);
}

.MOG-item-controls-menu {
    grid-area: MOG-menu;

    height: 100%;
    width: 3rem;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.MOG-item-controls-menu:focus {
    outline: none;
}

.MOG-item-controls-menu:active {
    outline: none;
}

.MOG-item-controls-menu:focus div {
    background-color: var(--MOG-hover-background);
    outline: 1px solid var(--MOG-outline-colour);
}

.MOG-item-controls-menu:active div {
    outline: 1px solid var(--MOG-outline-colour);
    background-color: var(--accent);
    background-color: red;
}

.MOG-item-controls-menu div {
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    justify-content: center;
    pointer-events: none;
}

.MOG-itemContainer:hover .MOG-item-controls-menu {
    opacity: 100%;
}

.MOG-item-controls-menu:hover div {
    background-color: var(--MOG-hover-background);
}

.MOG-item-controls-menu img {
    position: relative;
    height: 12.5%;
    width: 60%;
    pointer-events: none;

    filter: var(--make-svg-black);
}

.MOGaddNewItem {
    all: unset;
    float: left;
    height: 6rem;
    width: calc(100% - (1rem + 2px));
    display: grid;
    align-content: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding-left: 1rem;
    left: 1px;
    position: sticky;
    top: 1px;
    z-index: 2;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MOGaddNewItem {
        width: calc(100% - (1px + 4rem));
    }
}

.MOGaddNewItem::before {
    content: "";
    background-color: var(--background);
    position: absolute;
    top: -1px;
    width: 100%;
    height: 100%;
    box-shadow:
        var(--background-transparent) 0px 2px 1px,
        var(--background-transparent) 0px 4px 2px,
        var(--background-transparent) 0px 8px 4px,
        var(--background-transparent) 0px 16px 8px;
    z-index: -1;
    border-radius: 8px;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MOGaddNewItem::before {
        width: calc(100% + 3rem);
    }
}

.MOGaddNewItem:hover {
    cursor: pointer;
}


.MOGaddNewItem:hover::before {
    background-color: var(--secondary-weak);
}

.MOGaddNewItem:focus {
    outline: 1px solid var(--secondary);

}

.MOGaddNewItem:focus::before {
    background-color: var(--secondary-weak);
}

.MOGaddNewItem:active {
    outline: 1px solid var(--secondary);
}

.MOGaddNewItem:active::before {
    background-color: var(--secondary);
}

.MOG_add_text {
    width: 100%;
    font-size: 3rem;
    font-family: var(--font-secondary);
    pointer-events: none;

    color: var(--text);
}

.MOG_add_image {
    visibility: hidden;
    display: none;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    #MOGaddNewItem {
        height: 4rem;
    }

    .MOG_add_text {
        font-size: 2rem;
    }
}