/* musicObjectGrid-mobile.css */

.MOG-Mobile-SettingsButton {
    position: sticky;
    z-index: 10;
    right: 0;
    float: right;
    border: 0;
    height: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 5rem;
    overflow: hidden;
    top: 0.9rem;
    background-color: var(--grey);
}

.MOG-Mobile-SettingsButton .MOGM-imageContainer {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    pointer-events: none;
}


.MOG-Mobile-SettingsButton .MOGM-imageContainer img {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    pointer-events: none;

}