/* musicEnjoy.css */

.MUSICENJOYMODE-enviroment {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10000000000000;
}

.MUSICENJOYMODE-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:
        "topMenu"
        "content";

    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--grey);
        overflow: hidden;
    }

    .topMenuBar {
        grid-area: topMenu;
        position: relative;
        z-index: 4;

        button {
            all: unset;
            position: relative;
            border: none;
            border-radius: 50%;
            inset: 10%;
            left: 1rem;
            aspect-ratio: 1/1;
            height: 80%;
            justify-content: center;
            align-items: center;
            display: flex;
            transition: background-color 0.05s ease;

            color: var(--PV-text);
        }

        @media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
            button {
                all: unset;
                position: relative;
                border: none;
                border-radius: 50%;
                inset: 0.1rem;
                aspect-ratio: 1/1;
                height: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                transition: background-color 0.05s ease;

                color: var(--PV-text);
            }
        }

        button img {
            pointer-events: none;

            filter: var(--make-svg-white);
        }

        button:hover {
            background-color: var(--secondary-weak);
            cursor: pointer;
        }

        button:hover img {
            filter: var(--make-svg-grey-3);
        }


        button:focus {
            outline: 1px solid var(--PV-focus-colour);
            background-color: var(--secondary-weak);
        }

        button:focus img {
            filter: var(--make-svg-grey-3);
        }

        button:active {
            background-color: var(--PV-focus-colour);
            outline: 1px solid var(--PV-focus-colour);
        }

        button:active img {
            filter: var(--make-svg-grey-3);
        }



        button div {
            position: relative;
            margin-left: 0.2rem;
        }


    }

    @media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
        .contentArea {
            grid-template-columns: 1fr !important;
            grid-template-areas:
                "image" !important;

            top: -4rem;
            height: calc(100% + 4rem);


            .interaction {
                display: none;
            }
        }
    }

    .contentArea {
        grid-area: content;
        position: relative;

        display: grid;
        grid-template-columns: 4rem 1fr 1fr 4rem;
        grid-template-areas:
            ". image interaction .";


        @media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
            .image {
                height: 100%;
                width: 100%;
                grid-template-rows: 1fr 8rem 8rem !important;
                grid-template-columns: 1fr !important;
                grid-template-areas:
                    "image "
                    "controls "
                    ". "
                     !important;

            }
        }



        .image {
            grid-area: image;
            display: grid;
            height: 100%;
            max-width: 45rem;
            grid-template-rows: 8rem 1fr 8rem 8rem;
            grid-template-columns: 8rem 1fr 8rem;
            grid-template-areas:
                ". . ."
                ". image ."
                ". controls ."
                ". . ."
            ;

            @media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
                .image-container {
                    --factor: 0px !important;

                    .image-restrictor {
                        aspect-ratio: 8/10 !important;
                        border-radius: 0rem !important;
                    }

                    img {
                        aspect-ratio: 8/10 !important;
                        border-radius: 0rem !important;
                        /*
                        mask-composite: intersect;
                        */

                        -webkit-mask-image: url('/mask.png');
                        mask-image: url('/mask.png');
                        -webkit-mask-size: cover;
                        /* Ensure the mask covers the entire element */
                        mask-size: cover;
                        -webkit-mask-repeat: no-repeat;
                        /* Ensure the mask does not repeat */
                        mask-repeat: no-repeat;
                    }

                    img.a {
                        filter: none !important;
                        display: none !important;
                    }
                }


            }


            .image-container {
                grid-area: image;
                position: relative;
                --factor: 4px;

                .image-restrictor {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1/1;
                    overflow: hidden;
                    border-radius: 1rem;
                }

                img {
                    position: absolute;
                    height: calc(100% - (4 * var(--factor)));
                    top: calc(2 * var(--factor));
                    left: calc(2 * var(--factor));
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 1rem;
                }

                img.a {
                    filter: blur(var(--factor));
                }

                .song-details {
                    position: relative;
                    padding-top: 1rem;
                    padding-left: 1.5rem;

                    .song-title {
                        position: relative;
                        width: 100%;
                        height: 2rem;
                        line-height: 2.1rem;
                        color: var(--background);
                        font-weight: bold;
                        font-size: 2rem;

                        text-overflow: ellipsis;
                        overflow: hidden;
                        z-index: 3;
                    }

                    .song-title-duplicate {
                        position: absolute;
                        top: 1rem;
                        filter: blur(2px);
                        z-index: 1;

                    }

                    .song-artist {
                        margin-top: 0.3rem;
                        position: relative;
                        width: 100%;
                        height: 1.5rem;
                        line-height: 1.5rem;
                        color: var(--background);
                        font-size: 1.5rem;
                    }
                }
            }

            .controls-container {
                grid-area: controls;

                @media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
                    .controls {
                        width: 90% !important;
                        left: 5% !important;
                        grid-template-columns: 1fr 1fr 1fr !important;

                        .a,
                        .e {
                            display: none !important;
                        }

                        .c {
                            top: -0.4rem !important;
                            transform: scale(1.4) !important;
                        }

                        .b,
                        .d {
                            transform: scale(1.3) !important;
                        }

                    }

                }

                .controls {
                    position: relative;
                    width: 80%;
                    left: 10%;
                    height: 6rem;
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                    .button {
                        all: unset;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        filter: none;
                    }

                    .imgdiv {
                        position: absolute;
                        margin: 0;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        height: 1.8rem;
                        border-radius: 40px;
                        aspect-ratio: 1/1;

                        display: grid;
                        align-items: center;
                        justify-content: center;
                        place-items: center;
                    }

                    .imgdiv img {
                        filter: var(--make-svg-white);
                    }

                    .button:hover .imgdiv img {
                        filter: var(--make-svg-orange);
                    }

                    .button:hover .imgdiv {}

                    .button:focus .imgdiv img {
                        filter: var(--make-svg-orange);
                    }

                    .button:focus .imgdiv {}

                    .button:active .imgdiv {}

                    .a {
                        top: 0.2rem;
                    }

                    .b {}

                    .c {
                        top: -0.3rem;
                    }

                    .d {}

                    .e {}


                }
            }
        }

        .interaction {
            grid-area: interaction;

            /*
            .squares-container {
                position: relative;
                width: 100%;
                height: 4rem;
                display: flex;

                div {
                    position: relative;
                    height: 100%;
                    width: 20%;
                }
            }*/

            .chat-window {
                position: relative;
                width: 80%;
                left: 10%;
                height: 70%;
                top: 5%;
                backdrop-filter: brightness(0.9);
                -webkit-backdrop-filter: brightness(0.9);
                border-radius: 2rem;
                overflow: hidden;

                box-shadow: rgba(0, 0, 0, 0.17) 0px 23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px 36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px -2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                --control-size: 5rem;

                display: none;

                .chats {
                    position: relative;
                    width: 100%;
                    height: calc(100% - var(--control-size));
                    top: 0;

                    overflow-y: scroll;

                    .chat {
                        position: relative;
                        width: 100%;
                        display: block;
                        margin-top: 1rem;
                        background-color: blue;

                        .left {
                            position: relative;
                            margin-left: 1rem;
                            margin-top: 1rem;
                            max-width: 60%;
                            color: var(--background);
                            padding: 0.5rem;
                            border-radius: 8px;
                            overflow: hidden;
                            white-space: normal;

                            background-color: hsla(0, 0%, 30%, 0.3);
                            backdrop-filter: brightness(0.9);
                            -webkit-backdrop-filter: brightness(0.9);
                        }

                        .right {
                            position: relative;
                            margin-top: 1rem;
                            right: 01rem;
                            max-width: 60%;
                            color: var(--background);
                            padding: 0.5rem;
                            border-radius: 8px;
                            overflow: hidden;
                            white-space: normal;

                            background-color: hsla(0, 0%, 30%, 0.3);
                            backdrop-filter: brightness(0.9);
                            -webkit-backdrop-filter: brightness(0.9);

                        }
                    }


                    .chat-left {
                        /*
                        position: relative;
                        margin-left: 1rem;
                        margin-top: 1rem;
                        max-width: 60%;
                        color: var(--background);
                        padding: 0.3rem;
                        border-radius: 8px;
                        overflow: hidden;
                        white-space: normal;

                        background-color: hsla(0, 0%, 30%, 0.3);
                        backdrop-filter: brightness(0.9);
                        -webkit-backdrop-filter: brightness(0.9);
                        */
                    }

                    .chat-right {
                        /*
                        position: relative;
                        margin-top: 1rem;
                        right: 01rem;
                        max-width: 60%;
                        color: var(--background);
                        padding: 0.3rem;
                        border-radius: 8px;
                        overflow: hidden;
                        white-space: normal;

                        background-color: hsla(0, 0%, 30%, 0.3);
                        backdrop-filter: brightness(0.9);
                        -webkit-backdrop-filter: brightness(0.9);
                        */
                    }
                }

                .chats::-webkit-scrollbar {
                    display: none;
                }

                .control-box {
                    position: relative;
                    width: 100%;
                    height: var(--control-size);
                    top: 0;
                    bottom: 0;

                    .chat-box {
                        position: relative;
                        border-radius: 1rem;
                        width: calc(100% - 2rem);
                        height: calc(100% - 0.5rem);
                        left: 1rem;
                        bottom: 0.5rem;

                        background-color: hsla(0, 0%, 30%, 0.3);
                        backdrop-filter: brightness(0.9);
                        -webkit-backdrop-filter: brightness(0.9);
                    }

                }

            }
        }

    }
}