.notification-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 8rem;
    z-index: 03;
    display: grid;
    pointer-events: none;
}


.notification-container div {
    position: absolute;
    padding: 0.5rem;
    left: 50%;
    transform: translate(-50%, -0%);
    border-radius: 8px;
    text-align: center;
    top: 5rem;
    animation: fadeIn 0.5s ease-out, slideIn 0.5s 5s ease-out forwards;

    /*
    background-color: var(--background);
    background-color: var(--success);
    background-color: var(--whoopsie);
    background-color: var(--orange);
    background-color: var(--secondary);
    background-color: var(--secondary-dark);
    */
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .notification-container div {
        width: 80%;
        font-size: 1.5rem;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        top: 0rem;
    }

    to {
        opacity: 1;
        top: 5rem;
    }
}

@keyframes slideIn {
    from {
        opacity: 1;
        top: 5rem;
    }

    to {
        opacity: 0;
        top: 0rem;
    }
}