:root {
    --QUEUE-top-width: 3rem;

    --QUEUE-toptext-colour: var(--text);
    --QUEUE-bottomtext-colour: var(--text-third);
    --QUEUE-righttext-colour: var(--text-secondary);
}

/* queue body */
.QUEUE-environment {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 40;
    top: 0;
    right: calc((var(--width-of-left-bar-fortop) + 5rem) * -1);
    pointer-events: none;
    transition-property: right;
    transition-duration: var(--transition-speed);
    transition-timing-function: ease-in-out;
}


.QUEUE-container {
    position: absolute;
    width: var(--width-of-left-bar-fortop);
    height: calc((100% - var(--height-of-top)) - 2rem);
    z-index: 20;
    top: calc((var(--height-of-top) / 3) + 2.1rem);
    right: 1.5rem;
    border-radius: 8px;
    pointer-events: visible;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border-right: 1px solid var(--text-secondary);
    border-bottom: 1px solid var(--text-secondary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: var(--background-transparent);
}

@media (prefers-color-scheme: dark) {
    .QUEUE-container {
        border-right: 1px solid var(--grey);
        border-bottom: 1px solid var(--grey);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background-color: hsla(0, 0%, 10%, 0.7);
    }
}

.QUEUE-containerL2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.QUEUE-top {
    position: relative;
    height: var(--QUEUE-top-width);
    width: 100%;

    background-color: var(--transparent-overlay);
}

.QUEUE-top-text {
    position: relative;
    width: 100%;
    height: 2rem;
    padding-left: 0.8rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
}

.QUEUE-top-text-title {
    font-size: 1.2rem;
    font-weight: 600;

    color: var(--text);
}

.QUEUE-top-text-clear {
    position: absolute;
    font-size: 1rem;

    font-weight: 400;
    right: 3rem;
    top: 1rem;
    cursor: pointer;

    color: var(--text-third);
}

.QUEUE-bottom {
    position: relative;
    width: 100%;
    height: calc(100% - var(--QUEUE-top-width));
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.QUEUE-bottom::-webkit-scrollbar {
    width: 0.5rem;
}

/* queue item ------------------------------- */
.QUEUE-item-container {
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    overflow: hidden;
}

/* item underline */
.QUEUE-item-container::after {
    content: "";
    position: relative;
    width: 65%;
    left: 25%;
    height: 0.05rem;

    background-color: var(--transparent-overlay);
}

/* image container */
.QUEUE-item-up-next-queue-image-container {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    margin-left: 0.8rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    pointer-events: none;
}

.QUEUE-item-up-next-queue-image {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.QUEUE-item-image-removeIndicator {
    --height: 0.8rem;
    position: absolute;
    height: var(--height);
    width: var(--height);
    top: calc((var(--height) / 3) * -1);
    left: calc((var(--height) / 3) * -1);
    border-radius: 50%;
    visibility: hidden;
    pointer-events: all;
    cursor: pointer;

    outline: 1px solid var(--text-dark);
    background-color: var(--whoopsie);
}

/* le remove indicator */
.QUEUE-item-image-removeIndicator::after {
    --height: 0.10rem;
    content: "";
    position: absolute;
    width: 50%;
    height: var(--height);
    z-index: 1;
    top: calc((55% - var(--height)));
    left: 25%;

    background-color: var(--text-dark);
}

.QUEUE-item-container:hover .QUEUE-item-image-removeIndicator {
    visibility: visible;
}

/* text container */
.QUEUE-item-up-next-queue-text-container {
    position: relative;
    height: 2.3rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-top: 0.9rem;
    margin-bottom: 0.6rem;
    pointer-events: none;
}

.QUEUE-item-up-next-queue-text-song-title {
    position: relative;
    height: 50%;
    font-size: 0.95rem;
    line-height: 0.95rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;

    color: var(--QUEUE-toptext-colour);
}

.QUEUE-item-up-next-queue-text-song-artist {
    position: relative;
    font-size: 0.85rem;
    line-height: 0.85rem;
    height: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;

    color: var(--QUEUE-bottomtext-colour);
}

/* time and menu -- */
.QUEUE-item-up-next-queue-time-container {
    position: relative;
    height: 2.3rem;
    width: 2.3rem;
    margin-right: 0.5rem;
    cursor: pointer;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

/* the time indicator, and it's hover hidden */
.QUEUE-item-up-next-queue-time-span {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.85rem;
    font-weight: 0.85rem;
    visibility: visible;
    pointer-events: none;
    z-index: 0;

    color: var(--QUEUE-righttext-colour);
}

.QUEUE-item-container:hover .QUEUE-item-up-next-queue-time-span {
    visibility: hidden;
}

/* the menu button, and it's hover visible */
.QUEUE-item-up-next-queue-item-context-call {
    visibility: hidden;
    position: relative;
    top: 18%;
    left: 15%;
    cursor: pointer;
    z-index: 10;

    filter: var(--make-svg-black);
}

.QUEUE-item-container:hover .QUEUE-item-up-next-queue-item-context-call {
    visibility: visible;
}