/* search.css */

:root {
    --searchbar-container-height: 100%;
    --searchbar-container-width: 100%;

    --searchbar-borderradius: 8px;
    --searchbar-container-after-height: 38%;
    --searchbar-container-after-leftoffset: 0.6rem;
    --searchbar-container-after-width: calc(100% - (2 * var(--searchbar-container-after-leftoffset)));
    --searchbar-container-after-topoffset: 15%;
}

.topleft-searchbarContainer {
    position: relative;
    height: var(--searchbar-container-height);
    width: var(--searchbar-container-width);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    :root {
        --searchbar-container-width: 0rem;
    }
}

.topleft-searchbarContainerL2 {
    position: absolute;
    height: var(--searchbar-container-after-height);
    width: var(--searchbar-container-after-width);
    bottom: 0.75rem;
    left: var(--searchbar-container-after-leftoffset);
    border-radius: var(--searchbar-borderradius);

    outline: 1px solid var(--grey);
    background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
    .topleft-searchbarContainerL2 {
        background-color: hsl(0, 0%, 25%);
    }
}

.topleft-searchbar-hideLabels {
    position: absolute;
    opacity: 0%;
    user-select: none;
}

.topleft-searchbar-input {
    border: none;
    outline: none;
    position: relative;
    width: 72.5%;
    left: 12.5%;
    height: 100%;
    font-style: italic;

    color: var(--text-secondary);
    background-color: transparent;
}

.topleft-searchbar-input::placeholder {
    color: var(--text-secondary);
}

.topleft-searchbar-input:focus {
    font-style: normal;

    color: var(--text);
}

.topleft-search-icon {
    position: absolute;
    height: 50%;
    top: 25%;
    aspect-ratio: 1/1;
    left: 3.5%;
    filter: var(--make-svg-black);
}

.topleft-clearIcon {
    position: absolute;
    height: 50%;
    top: 25%;
    aspect-ratio: 1/1;
    right: 3.5%;
    outline: 0.2rem solid transparent;
    opacity: 0%;

    background-color: transparent;
    filter: invert(1) var(--make-svg-black);

}

/* Search Responses Environment Container */

.SEARCH-ResponsesEnvironment {
    position: absolute;
    width: calc(var(--width-of-left-bar-fortop) - (2 * var(--searchbar-container-after-leftoffset)));
    top: 03.5rem;
    left: var(--searchbar-container-after-leftoffset);
    z-index: 100;
    border-radius: 8px;
    overflow: hidden;

    border-right: 1px solid var(--text-secondary);
    border-bottom: 1px solid var(--text-secondary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: var(--background-transparent-fog);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

/* remove the separator from the first child */
.SEARCH-ResponsesEnvironment button:first-child::before {
    visibility: hidden;
}

/* Item type search response 
    
    The response type for all songs/albums, since it is exstensible
 */


.SEARCH-ResponsesItemResponse {
    all: unset;
    position: relative;
    width: calc(100% - 1rem);
    left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    height: 3rem;
    /*background-color: hsl(0, 0%, 98%);
    outline: 1px solid var(--grey);*/

    display: grid;
    grid-template-areas:
        "imageContainer titleContainer"
        "imageContainer contributorsContainer"
    ;
    grid-template-columns: 3rem 1fr;

    .SEARCH-ResponsesItemResponse-ImageContainer {
        grid-area: imageContainer;
        position: relative;
        height: calc(100% - 1rem);
        top: 0.5rem;
        left: 0.5rem;
        border-radius: 4px;
        aspect-ratio: 1/1;
        overflow: hidden;
    }

    .SEARCH-ResponsesItemResponse-ImageContainer img {
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .SEARCH-ResponsesItemResponse-TitleContainer {
        grid-area: titleContainer;
        position: relative;
        top: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .SEARCH-ResponsesItemResponse-ContributorsContainer {
        grid-area: contributorsContainer;
        position: relative;
        bottom: 0rem;
        overflow: hidden;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        color: var(--text-secondary);
        font-size: 0.8rem;
        height: 1rem;
    }

    /* The markup that is associated with this css

        <button class="SEARCH-ResponsesItemResponse">
            <div class="SEARCH-ResponsesItemResponse-ImageContainer"><img src="/media/{mediaURL}/3"></div>
            <div class="SEARCH-ResponsesItemResponse-TitleContainer">{albumTitle}</div>
            <div class="SEARCH-ResponsesItemResponse-ContributorsContainer">{responseType} ∙ {responseContributors}</div>
        </button>

     */
}

.SEARCH-ResponsesItemResponse::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--lgrey);
    top: 0;
    left: 0;
}

.SEARCH-ResponsesItemResponse:hover {
    background-color: var(--secondary-weak);
}

.SEARCH-ResponsesItemResponse:hover::before {
    visibility: hidden;
}

.SEARCH-ResponsesItemResponse:focus {
    background-color: var(--secondary-weak);
    outline: 1px solid var(--secondary);
}

.SEARCH-ResponsesItemResponse:focus::before {
    visibility: hidden;
}

.SEARCH-ResponsesItemResponse:active {
    background-color: var(--secondary);
    outline: 1px solid var(--secondary);
}

.SEARCH-ResponsesItemResponse:active::before {
    visibility: hidden;
}



/* empty type search response 
    
    In other words, the search response item that is for when there are no responses
 */

.SEARCH-ResponsesEmptyResponse {
    position: relative;
    width: calc(100% - 1rem);
    left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    height: 3rem;
    background-color: hsl(0, 0%, 98%);
    outline: 1px solid var(--grey);
    line-height: 3rem;
    text-align: center;
    color: var(--text-secondary);

    /* The markup that is associated with this css

        <div class="SEARCH-ResponsesEmptyResponse">No results</div>

     */
}












/**/