:root {
    --searchbar-container-height: 100%;
    --searchbar-container-width: 100%;

    --searchbar-borderradius: 8px;
    --searchbar-container-after-height: 38%;
    --searchbar-container-after-leftoffset: 0.6rem;
    --searchbar-container-after-width: calc(100% - (2 * var(--searchbar-container-after-leftoffset)));
    --searchbar-container-after-topoffset: 15%;

    --searchbar-container-after-outline-colour: var(--text-third);
    --searchbar-search-colour-unfocused: var(--text-secondary);
    --searchbar-search-colour-focused: var(--text-dark);
}

.topleft-searchbarContainer {
    position: relative;
    height: var(--searchbar-container-height);
    width: var(--searchbar-container-width);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    :root {
        --searchbar-container-width: 0rem;
    }
}

.topleft-searchbarContainerL2 {
    position: absolute;
    height: var(--searchbar-container-after-height);
    width: var(--searchbar-container-after-width);
    bottom: 0.75rem;
    left: var(--searchbar-container-after-leftoffset);
    border-radius: var(--searchbar-borderradius);

    outline: 1px solid hsla(0, 0%, 100%, 0.23);
    background-color: var(--text-third);
}

@media (prefers-color-scheme: dark) {
    .topleft-searchbarContainerL2 {
        background-color: hsl(0, 0%, 25%);
    }
}

.topleft-searchbar-hideLabels {
    position: absolute;
    opacity: 0%;
    user-select: none;
}

.topleft-searchbar-input {
    border: none;
    outline: none;
    position: relative;
    width: 72.5%;
    left: 12.5%;
    height: 100%;
    font-style: italic;

    color: var(--searchbar-search-colour-unfocused);
    background-color: transparent;
}

.topleft-searchbar-input::placeholder {
    color: var(--searchbar-search-colour-unfocused);
}

.topleft-searchbar-input:focus {
    font-style: normal;

    color: var(--searchbar-search-colour-focused);
}

.topleft-search-icon {
    position: absolute;
    height: 50%;
    top: 25%;
    aspect-ratio: 1/1;
    left: 3.5%;
}

.topleft-clearIcon {
    position: absolute;
    height: 50%;
    top: 25%;
    aspect-ratio: 1/1;
    right: 3.5%;
    outline: 0.2rem solid transparent;
    opacity: 0%;

    background-color: transparent;
    filter: invert(100%);
}