version: '0.1'
services:
  # Public facing API
  main:
    image: leoanker/om2_main:0.0.1-arm64
    ports:
      - "6000:80"
    networks:
      - tunnel
    env_file:
      - .env
    volumes:
      - background_data:/background_data
      - om2data:/var/www/media
    depends_on:
      - postgres

  # For Exposing apis and file hosting to the internet
  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${CLOUDFLARED_TOKEN}
    networks:
      - tunnel

  # Database
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init_scripts:/docker-entrypoint-initdb.d 
    networks:
      - tunnel

  # File Processing
  chipmunk_processor:
    image: leoanker/om2_main:0.0.1-arm64
    volumes:
      - background_data:/background_data
      - om2data:/var/www/media
    networks:
      - tunnel
    env_file:
      - .env
    depends_on:
      - postgres

  # File Serving
  nginx:
    image: nginx:latest
    ports:
      - "9000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - om2data:/var/www/media
    networks:
      - tunnel


  # Front end
  front_end:
    image: leoanker/om2_frontend:0.0.1-arm64
    ports:
      - "11001:80"
    networks:
      - tunnel
    env_file:
      - .env


networks:
  tunnel:
    driver: bridge

volumes:
  pgdata:
  om2data:
  background_data:



