version: '0.1'
services:
  # Public facing API
  main:
    image: leoanker/om2_main:0.0.4-arm64
    ports:
      - "6000:80"
    networks:
      - tunnel
    env_file:
      - .env
    volumes:
      - background_data:/background_data
      - om2data:/var/www/media
    depends_on:
      - postgres

  # For Exposing apis and file hosting to the internet
  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${CLOUDFLARED_TOKEN}
    networks:
      - tunnel

  # Database
  postgres:
    image: postgres
    environment:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init_scripts:/docker-entrypoint-initdb.d 
    networks:
      - tunnel

  # File Processing
  chipmunk_processor:
    image: leoanker/om2_chipmunk:0.0.4-arm64
    ports:
      - "8001:80"
    volumes:
      - background_data:/background_data
      - om2data:/var/www/media
    networks:
      - tunnel
    env_file:
      - .env
    depends_on:
      - postgres

  # File Serving
  nginx:
    image: nginx:latest
    ports:
      - "9000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - om2data:/var/www/media
      - ./files/default_pfp_1.webp:/var/www/media/assets/default_pfp/1.webp
      - ./files/default_pfp_2.webp:/var/www/media/assets/default_pfp/2.webp
      - ./files/default_pfp_3.webp:/var/www/media/assets/default_pfp/3.webp
      - ./files/default_pfp_4.webp:/var/www/media/assets/default_pfp/4.webp
      - ./files/default_pfp_5.webp:/var/www/media/assets/default_pfp/5.webp
      - ./files/default_pfp_6.webp:/var/www/media/assets/default_pfp/6.webp
      - ./files/default_pp_1.webp:/var/www/media/assets/default_pp/1.webp
      - ./files/default_pp_2.webp:/var/www/media/assets/default_pp/2.webp
      - ./files/default_pp_3.webp:/var/www/media/assets/default_pp/3.webp
      - ./files/default_pp_4.webp:/var/www/media/assets/default_pp/4.webp
      - ./files/default_pp_5.webp:/var/www/media/assets/default_pp/5.webp
      - ./files/default_pp_6.webp:/var/www/media/assets/default_pp/6.webp

    networks:
      - tunnel


  # Front end
  front_end:
    image: leoanker/om2_frontend:0.0.4-arm64
    ports:
      - "11001:80"
    networks:
      - tunnel
    volumes:
      - ./nginx-frontend.conf:/etc/nginx/templates/nginx.conf.template
    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR
      - API_DOMAIN=${API_DOMAIN}  
      - MEDIA_DOMAIN=${MEDIA_DOMAIN}  
      - MAIN_DOMAIN=${MAIN_DOMAIN}  



networks:
  tunnel:
    driver: bridge

volumes:
  pgdata:
  om2data:
  background_data:



