:root {
    --width-of-left-bar: 18rem;
    --height-of-top: 5rem;
    --cutout-left: 10%;
    --cutout-top: 10%;
    --cutout-width: 80%;
    --cutout-height: 80%;
    --cutout-border-radius: 10px;

    --border-radius-top: 8px;

    --background-top-right-back: var(--grey);
    --background-top-left-back: var(--grey);

}

main {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.contentContainer {
    position: relative;
    width: calc(100% - var(--width-of-left-bar));
    height: 100%;
    background-color: dimgray;
    float: right;
    overflow-y: scroll;

}

.nav-topHalf-container {
    position: absolute;
    height: var(--height-of-top);
    width: 100%;
    z-index: 10;
}

.nav-topHalf {
    position: relative;
    width: 100%;
    height: var(--height-of-top);
    display: flex;

}

.nav-topHalf-left {
    position: relative;
    height: 100%;
    width: var(--width-of-left-bar);
    background-color: var(--background-top-left-back);
    outline: 1px solid white;
    z-index: 10;
}

.nav-topHalf-right {
    position: relative;
    height: 100%;
    width: calc(100% - var(--width-of-left-bar));
    background-color: var(--background-top-right-back);
    clip-path: polygon(0% 0%,
        0% 100%,
        var(--cutout-left) 100%,
        var(--cutout-left) var(--cutout-top),
        calc(var(--cutout-left) + var(--cutout-width)) var(--cutout-top),
        calc(var(--cutout-left) + var(--cutout-width)) calc(var(--cutout-top) + var(--cutout-height)),
        var(--cutout-left) calc(var(--cutout-top) + var(--cutout-height)),
        var(--cutout-left) 100%,
        100% 100%,
        100% 0%);
    //z-index: 10;
}

.nav-topHalf-right-playerControls-container {
    position: absolute;
    height: 100%;
    width: calc(100% - var(--width-of-left-bar));
    margin-left: var(--width-of-left-bar);

}

.nav-topHalf-right-blurbox {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.nav-topHalf-right-playerControls {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 10;
    border-radius: var(--border-radius-top);

    outline: 1px solid white;
}

.nav-topHalf-right-playerControls:before {
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    outline: 4px solid var(--background-top-right-back);
    border-radius: var(--border-radius-top);
    outline-offset: 1px;
}

.nav-topHalf-right-playerControls-content {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: var(--border-radius-top);
}

.nav-topHalf-right-account-container {
    position: absolute;
    right: 0%;
    width: 10%;
    height: 100%;
    outline: 1px solid white;
    z-index: 10;
}