/* the left bar is currently hidden, but it is something that should not be forgotten  */

:root {
    --width-of-left-bar: 0rem;
    --width-of-left-bar-fortop: 16rem;
    --height-of-top: 5rem;
    --cutout-left: 10%;
    --cutout-top: 10%;
    --cutout-width: 80%;
    --cutout-height: 80%;
    --cutout-border-radius: 10px;

    --border-radius-top: 8px;


    --outline-and-back: var(--dgrey-7);

    --background-top-right-back: var(--outline-and-back);
    --background-top-left-back: var(--outline-and-back);
    --background-bottom-left-back: var(--outline-and-back);
    --background-bottom-right-back: var(--dgrey-6);


    --content-inset: 0.4rem;
    --content-inset-colour: var(--outline-and-back);

    --playercontrols-outline-colour: var(--lgrey-0);

}

@media (max-width: 750px) {
    :root {
        --width-of-left-bar-fortop: 0rem;

    }

}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.botHalf-left {
    position: relative;
    width: var(--width-of-left-bar);
    height: calc(100% - var(--height-of-top));
    top: var(--height-of-top);

    background-color: var(--background-bottom-left-back);
    z-index: 10;
    float: left;
}

.contentContainer {
    position: relative;
    width: calc((100% - var(--width-of-left-bar)) - (2* var(--content-inset)));
    height: calc(100% - (2* var(--content-inset)) + 0.5rem);

    float: right;
    overflow: hidden;

    /* the borders are done in this clunky way because we can't have one on the top, because open to the top */
    border-left: var(--content-inset) solid var(--content-inset-colour);
    border-right: var(--content-inset) solid var(--content-inset-colour);
    border-bottom: var(--content-inset) solid var(--content-inset-colour);
}

/* creates the top bar of the outline, since this one needs to be placed seperatly  */
.contentContainer:before {
    --height-of-self: var(--content-inset);
    position: absolute;
    content: "";
    height: var(--height-of-self);
    width: 100%;
    top: calc(var(--height-of-top) - var(--height-of-self));
    background-color: var(--content-inset-colour);
}

/* creates an outline that creates the rounded inset that we are after  */
.contentContainer:after {
    position: absolute;
    content: "";
    height: calc(100% - 5rem);
    width: 100%;
    outline: var(--border-radius-top) solid var(--content-inset-colour);
    border-radius: var(--border-radius-top);
    top: 5rem;
    pointer-events: none;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--background-bottom-right-back);
    border-radius: var(--border-radius-top);
    //z-index: 1;
}



.topHalf-container {
    position: absolute;
    height: var(--height-of-top);
    width: 100%;
    z-index: 10;
}

.topHalf {
    position: relative;
    width: 100%;
    height: var(--height-of-top);
    display: flex;

}

.topHalf-left {
    position: relative;
    height: 100%;
    width: var(--width-of-left-bar-fortop);
    background-color: var(--background-top-left-back);
    z-index: 10;
}

.topHalf-right {
    position: relative;
    height: 100%;
    width: calc(100% - var(--width-of-left-bar-fortop));
    overflow: hidden;
}

.topHalf-right-content-container {
    position: relative;

    height: 80%;
    width: 80%;

    border-radius: var(--border-radius-top);

    outline: 100vw solid var(--background-top-right-back);

    inset: 10%;
}


.topHalf-right-playerControls {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-top);
    outline: 1px solid var(--playercontrols-outline-colour);
}


.topHalf-right-account-container {
    position: absolute;
    right: 0%;
    width: 10%;
    height: 100%;
    z-index: 10;
}