:root {
    --LCD-widthOfMenuContainer: 1rem;

    --LCD-widthOfTimeIndicators: 2rem;

    --LCD-afterContent-bottom-left: "2:24";
    --LCD-afterContent-bottom-right: "-0:53";
}

.LCDbody {
    position: relative;
    width: 98%;
    height: 80%;
    top: 10%;
    left: 1%;
}

.LCDcontentContainer {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.LCDleftImage {
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
}

.LCDleftImage img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    object-fit: cover;
}

.LCDrightContent {
    flex: 1 1 auto;
    position: relative;
}

.LCDright-titleTextAndMenuContainer {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LCDrightTitleText-centreBox {
    height: auto;
    display: flex;
    align-items: center;
    width: auto;
    overflow: hidden;
}

.LCDrightTitleText-leftSpacer {
    flex: 0 0 var(--LCD-widthOfMenuContainer);
    height: 1rem;
    //background-color: hsla(180, 100%, 60%, 0.5);
    padding-left: 0.3rem;

}

.LCDrightTitleText-text {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1rem;
    font-size: 0.8rem;

    color: white;
    font-weight: 600;
}


.LCDrightTitleText-menuContainer {
    position: relative;
    flex: 0 0 var(--LCD-widthOfMenuContainer);
    height: 1rem;
    aspect-ratio: 1/1;
    //background-color: hsla(180, 100%, 60%, 0.5);
    cursor: pointer;
    padding-left: 0.3rem;
}

.LCDrightTitleText-menuContainer img {
    position: relative;
    height: 100%;
    aspect-ratio: 2/3;
    filter: var(--make-svg-orange);
    opacity: 0%;
    transition: opacity 150ms ease-in-out;
}

.LCDbody:hover img {
    opacity: 100%;
}

.LCDright-bottomTextPlusTimeIndicatorsContainer {
    position: relative;
    height: 1.6rem;
    width: 100%;
    display: flex;
}


.LCDright-bottomTextTimeIndicatorsLeft {
    position: relative;
    width: var(--LCD-widthOfTimeIndicators);
    height: 100%;

    font-size: 0.7rem;
}

.LCDright-bottomTextTimeIndicatorsLeft::after {
    content: var(--LCD-afterContent-bottom-left);
    position: absolute;
    bottom: 0.1rem;
    left: 0.3rem;

    color: var(--lgrey-4);
    opacity: 0%;
    transition: opacity 30ms ease-in-out;


}

.LCDbody:hover .LCDright-bottomTextTimeIndicatorsLeft::after {
    opacity: 100%;
}

.LCDright-bottomTextTimeIndicatorsRight {
    position: relative;
    width: var(--LCD-widthOfTimeIndicators);
    height: 100%;

    font-size: 0.7rem;
}

.LCDright-bottomTextTimeIndicatorsRight::after {
    content: var(--LCD-afterContent-bottom-right);
    position: absolute;
    bottom: 0.1rem;
    right: 0.3rem;

    color: var(--lgrey-4);
    opacity: 0%;
    transition: opacity 30ms ease-in-out;
}

.LCDbody:hover .LCDright-bottomTextTimeIndicatorsRight::after {
    opacity: 100%;
}


.LCDright-bottomText-text {
    position: relative;
    width: calc(100% - (2 * var(--LCD-widthOfTimeIndicators)));
    height: 100%;
    overflow: hidden;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: 400;
}



























/**/