.MATERIAL-blur-1 {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px) contrast(0.8) brightness(0.80);

    /*
    background-image:
        radial-gradient(at 60% 30%, hsla(230, 60%, 60%, 0.5) 0px, transparent 100%),
        radial-gradient(at 60% 90%, hsla(255, 90%, 75%, 0.5) 0px, transparent 100%),
        radial-gradient(at 100% 20%, hsla(162, 100%, 73%, 0.5) 0px, transparent 100%);
    */

    overflow: hidden;
}

.MATERIAL-blur-1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.4;
    filter: url(#noise);
}


.MATERIAL-blur-2 {
    background-color: rgba(256, 256, 256, 0.2);
    backdrop-filter: blur(2px) contrast(0.6) brightness(0.8);
    overflow: hidden;

}


.MATERIAL-black {
    background-color: blueviolet;
}