.menuModalEnvironment {
    position: absolute;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 100;

    display: none;
}

.menuModalBackground {
    /*background-color: hsla(130, 60%, 50%, 0.5);
    backdrop-filter: blur(0px);*/
}

.MENUmodalBody {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12rem;
    //background-color: red;
    border-radius: 8px;
    z-index: 2;

    outline: 1px solid white;
    pointer-events: none;
}

.MENUmodalItemContainer {
    position: relative;
    height: 2rem;
    width: 100%;

    display: flex;
    align-items: center;
    pointer-events: all;
}

.MENUmodalItemContainer::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 0.02rem;
    bottom: 0;

    background-color: hsla(0, 100%, 100%, 0.2);
}

.MENUmodalItemContainer:hover {
    background-color: hsla(0, 100%, 100%, 0.1);

}

.MENUmodalTextArranger {
    position: relative;


    color: white;
    left: 0.5rem;

    font-weight: 400;
    font-size: 0.8rem;

    pointer-events: none;
}

.MENUmodalSVGcontainer {
    position: absolute;

    height: 1rem;
    width: 1rem;

    right: 0.5rem;
    pointer-events: none;


}

.MENUmodalSVG {
    height: 90%;
    aspect-ratio: 1/1;
    pointer-events: none;

}





































/**/