:root {
    --MOG-height-of-MOGitem: 19rem;
}

.MOG-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    top: calc(var(--height-of-top) + 0.0rem);
}

.MOG-grid {
    position: relative;
    height: 100%;
    width: calc(100% - 2rem);
    margin: 1rem;

    /*	grid*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-auto-rows: var(--MOG-height-of-MOGitem);
    grid-gap: 1rem;

}

/* music object grid items ---- */
.MOG-itemContainer {
    position: relative;

    /* grid*/
    height: var(--MOG-height-of-MOGitem);
    width: 100%;
    max-width: 15rem;


}

.MOG-itemImageContainer {
    position: relative;
    top: 0;
    width: calc(100% - (2 * 1px));
    inset: 1px;
    aspect-ratio: 1/1;

    border-radius: 8px;
    overflow: hidden;

    background-color: blue;
    outline: 1px solid hsla(0, 100%, 100%, 0.5);
}

.MOG-itemImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: relative;
}

.MOG-itemTextContainer {
    position: relative;
    width: 100%;
    margin-top: 0.3rem;
}

.MOG-itemTextTop {
    position: relative;
    font-size: 0.93rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: white;

}

.MOG-itemTextBottom {
    position: relative;
    color: var(--lgrey-4);
    font-size: 0.8rem;
    overflow: hidden;
    width: calc(100% - 1.8rem);


    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.MOG-itemCheckedDate {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;

    color: var(--lgrey-4);
}

/*
.MOG-itemContainer:nth-child(even) {
    background-color: blue;
}
*/