/* vertical navbar styling ---------------------------------------------------------------------------------------------------- */

.navbar {
    position: fixed;
    background-color: var(--bg-vertical-nav-bar);
    overflow-x: none;
    overflow-y: none;
    box-shadow: rgba(64, 61, 57, 1) 0px 0px 0px 1px;
    z-index: 10000;
}

.scrolling-navbar {
    height: calc(100% - 7rem);
    width: var(--width-of-vertical-nav);
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;

    margin-top: 6rem;

}


.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav-top {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    //overflow-x: none;
    //overflow-y: none;

    width: var(--width-of-vertical-nav);

    height: 6rem;

    background-color: var(--bg-vertical-nav-bar);
}

.navbar-nav-library {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: 100%;
}

.navbar-nav-playlists {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: 100%;
}


.navbar-nav-mobile {
    all: unset;
    list-style: none;
    padding: 0;
    margin: 0;

    /*
    display: none;
    flex-direction: column;
    align-items: center;
    flex-direction: row;*/
    height: 8rem;

    position: static;
    bottom: 0%;
    width: 100%;
    z-index: 100000;
    background-color: var(--dark-grey);
}

.mobile-controls-container {
    position: relative;
    height: 4rem;
    width: 100%;
    top: 0%;
    //background-color: aquamarine;
    z-index: 1000000000;
}

.navbar-nav-mobile-navigation-container {
    position: absolute;
    height: 4rem;
    width: 100%;
    bottom: 0%;
    background-color: var(--dark-grey);
    outline: 10px solid var(--dark-grey);

}


/* vertical navbar items styling */
.nav-item {
    width: 100%;
    position: relative;
    margin-left: var(--text-margin-of-vertical-nav)
}

.link-text {
    position: relative;
    display: inline;
    margin-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}


.navbar-nav-item-svg-locator-playlists {
    position: absolute;
    left: 1.1rem;
    top: 1.15rem;
    filter: var(--make-svg-light-grey);
}

.navbar-nav-item-svg-locator {
    position: absolute;
    left: 1.1rem;
    top: 1.15rem;
    filter: var(--make-svg-orange);
}

.nav-link {
    display: flex;
    align-items: center;
    height: var(--vertical-nav-link-text-height);
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);

    position: relative;
    width: 80%;
}

.nav-link:focus {
    background-color: var(--grey);
    border-radius: 5px;
}


.nav-link-hint {
    display: flex;
    align-items: center;
    color: var(--middle-grey);
    text-decoration: none;
    transition: var(--transition-speed);
    font-size: 0.65rem;
    font-weight: 800;
    position: relative;
    margin-bottom: 2%;
}



.link-text {
    display: inline;
    margin-left: var(--text-margin-of-vertical-nav);
    font-size: var(--vertical-nav-link-text-size);
}

.link-text-hint {
    display: inline;
    margin-left: var(--text-margin-of-vertical-nav-hints);
    position: relative;
    color: var(--silver-grey);
}

.bottom-of-vertical-navbar {
    width: 100%;
    position: absolute;
    height: 3rem;
    bottom: 0%;
    //background-color: aqua;
}

.bottom-of-vertical-navbar-content {
    position: relative;
    color: var(--granite-grey);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    top: 20%;
}