:root {
    --QUEUE-outline-colour: var(--violet-5);
    --QUEUE-outline-colour: white;
    --QUEUE-width: 0.2rem;

    --QUEUE-top-width: 3rem;

}

/* queue body */
.QUEUE-environment {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
    top: 0;
    right: calc((var(--width-of-left-bar-fortop) + 5rem) * -1);
    pointer-events: none;

    transition-property: right;
    transition-duration: var(--transition-speed);
    transition-timing-function: ease-in-out;
}


.QUEUE-container {
    position: absolute;

    width: var(--width-of-left-bar-fortop);
    height: calc((100% - var(--height-of-top)) - 1rem);

    z-index: 20;
    top: calc((var(--height-of-top) / 2) + 2.1rem);
    right: 1.5rem;
    border-radius: 8px;
    outline: var(--QUEUE-width) solid var(--QUEUE-outline-colour);

    pointer-events: visible;

}

.QUEUE-container-pointer {
    --normal: 0.8rem;
    --half: calc(var(--normal) / 2);

    position: absolute;
    width: 0;
    height: 0;

    /* triangle maker */
    border-left: var(--half) solid transparent;
    border-right: var(--half) solid transparent;
    border-bottom: var(--normal) solid var(--QUEUE-outline-colour);

    z-index: 19;
    top: calc(((var(--height-of-top) / 2) + 2.1rem) - var(--normal));
    left: calc(100% - 4.3rem);
}

.QUEUE-containerL2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.QUEUE-top {
    position: relative;
    background-color: hsla(255, 80%, 46%, 0.5);
    background-color: hsla(0, 0%, 100%, 0.5);
    height: var(--QUEUE-top-width);
    width: 100%;
}

.QUEUE-top-text {
    position: relative;
    width: 100%;
    height: 2rem;
    padding-left: 0.8rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
}

.QUEUE-top-text-title {
    font-size: 1.2rem;
    color: var(--violet-0);
    font-weight: 600;
    filter: drop-shadow(1px 1px 0px var(--violet-6));

    color: black;
    filter: none;
}





.QUEUE-bottom {
    position: relative;
    width: 100%;
    height: calc(100% - var(--QUEUE-top-width));
    bottom: 0;
    border-radius: 8px;
    outline: var(--QUEUE-width) solid var(--QUEUE-outline-colour);
    overflow-y: scroll;
    overflow-x: hidden;
}


.QUEUE-bottom::-webkit-scrollbar {
    width: 0.5rem;

}


:root {
    --QUEUE-toptext-colour: hsla(0, 0%, 100%, 1);
    --QUEUE-bottomtext-colour: hsla(255, 45%, 95%, 1);
    --QUEUE-righttext-colour: hsla(255, 65%, 85%, 1);
}


/* queue item ------------------------------- */
.QUEUE-item-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* item underline */
.QUEUE-item-container::after {
    content: "";
    position: relative;
    width: 65%;
    left: 25%;
    height: 0.05rem;
    background-color: white;
    opacity: 0.2;
}

/* image container */
.QUEUE-item-up-next-queue-image-container {
    position: relative;
    height: 2.3rem;
    width: 2.3rem;
    object-fit: cover;
    margin-left: 0.8rem;

    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.QUEUE-item-up-next-queue-image {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}

/* text container */
.QUEUE-item-up-next-queue-text-container {
    position: relative;
    height: 2.3rem;
    width: 55%;
    display: flex;
    flex-direction: column;

    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.QUEUE-item-up-next-queue-text-song-title {
    position: relative;
    height: 50%;
    font-size: 0.95rem;
    color: var(--QUEUE-toptext-colour);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.QUEUE-item-up-next-queue-text-song-artist {
    position: relative;
    font-size: 0.85rem;
    height: 50%;
    color: var(--QUEUE-bottomtext-colour);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* time and menu -- */
.QUEUE-item-up-next-queue-time-container {
    position: relative;
    height: 2.3rem;
    width: 2.3rem;
    margin-right: 0.5rem;
    cursor: pointer;

    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

/* the time indicator, and it's hover hidden */
.QUEUE-item-up-next-queue-time-span {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--QUEUE-righttext-colour);
    font-size: 0.85rem;

    visibility: visible;
}

.QUEUE-item-container:hover .QUEUE-item-up-next-queue-time-span {
    visibility: hidden;
}

/* the menu button, and it's hover visible */
.QUEUE-item-up-next-queue-item-context-call {
    visibility: hidden;
    position: relative;
    top: 18%;
    left: 15%;
    filter: var(--make-svg-orange);
}

.QUEUE-item-container:hover .QUEUE-item-up-next-queue-item-context-call {
    visibility: visible;
}

















/*

*/