:root {
    --QUEUE-outline-colour: var(--violet-5);
    --QUEUE-width: 0.2rem;

    --QUEUE-top-width: 3rem;

}

/* queue body */
.QUEUE-environment {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
    top: 0;
    right: calc((var(--width-of-left-bar-fortop) + 5rem) * -1);
    pointer-events: none;

    transition-property: right;
    transition-duration: var(--transition-speed);
    transition-timing-function: ease-in-out;
}


.QUEUE-container {
    position: absolute;

    width: var(--width-of-left-bar-fortop);
    height: calc((100% - var(--height-of-top)) - 1rem);

    z-index: 20;
    top: calc((var(--height-of-top) / 2) + 2.1rem);
    right: 1.5rem;
    border-radius: 8px;
    outline: var(--QUEUE-width) solid var(--QUEUE-outline-colour);

}

.QUEUE-container-pointer {
    --normal: 0.8rem;
    --half: calc(var(--normal) / 2);

    position: absolute;
    width: 0;
    height: 0;

    /* triangle maker */
    border-left: var(--half) solid transparent;
    border-right: var(--half) solid transparent;
    border-bottom: var(--normal) solid var(--QUEUE-outline-colour);

    z-index: 19;
    top: calc(((var(--height-of-top) / 2) + 2.1rem) - var(--normal));
    left: calc(100% - 4.3rem);
}

.QUEUE-containerL2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.QUEUE-top {
    position: relative;
    background-color: hsla(255, 80%, 46%, 0.5);
    height: var(--QUEUE-top-width);
    width: 100%;
}

.QUEUE-top-text {
    position: relative;
    width: 100%;
    height: 2rem;
    padding-left: 0.8rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.QUEUE-top-text-title {
    font-size: 1.4rem;
    color: var(--violet-0);
    font-weight: 600;
    filter: drop-shadow(1px 1px 0px var(--violet-6));
}






.QUEUE-bottom {
    position: relative;
    width: 100%;
    height: calc(100% - var(--QUEUE-top-width));
    bottom: 0;
    border-radius: 8px;
    outline: var(--QUEUE-width) solid var(--QUEUE-outline-colour);
}






/**/