:root {
    font-family: 'SFProText';
    font-weight: 400;



    /* colour variables */
    --blackest-black: #000000;
    --black-black: #0A0909;
    --black: #131211;
    --less-black: #1C1B1A;
    --lessest-black: #252422;
    --darkest-grey: #292825;
    --jet: #333234;
    --dark-grey: #2C2B28;
    --grey: #403D39;
    --davys-grey: #524E49;
    --granite-grey: #635f59;
    --nickel-grey: #757069;
    --middle-grey: #868179;
    --silver-grey: #A9a399;
    --pale-grey: #bbb4a9;
    --light-grey: #CCC5B9;
    --off-white: #FFFCF2;
    --white: #FFFFFF;

    --orange--3: #f4ae93;
    --orange--2: #f08b64;
    --orange--1: #ee7648;

    --orange: #EB5E28;

    --orange-1: #c94512;
    --orange-2: #a83a0f;
    --orange-3: #7d2b0b;
    --orange-4: #4d1a07;




    /* svg filters */
    --make-svg-grey: invert(1) invert(37%) sepia(10%) saturate(302%) hue-rotate(357deg) brightness(200%) contrast(89%);
    --make-svg-light-grey: invert(1) invert(91%) sepia(12%) saturate(216%) hue-rotate(359deg) brightness(89%) contrast(83%);
    --make-svg-orange: invert(1) invert(64%) sepia(77%) saturate(6168%) hue-rotate(351deg) brightness(101%) contrast(84%);
    --make-svg-black: invert(1);
    --make-svg-dark-grey: invert(1) invert(8%) sepia(6%) saturate(675%) hue-rotate(2deg) brightness(93%) contrast(85%);
    --make-svg-grey-2: invert(1) invert(21%) sepia(5%) saturate(742%) hue-rotate(355deg) brightness(92%) contrast(86%);
    --make-svg-grey-3: invert(1) invert(37%) sepia(10%) saturate(302%) hue-rotate(357deg) brightness(95%) contrast(89%);


    /* animations ? */

    --transition-speed: 10ms;
}


body {
    color: black;
    background-color: var(--bg-main-area);
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;

    -webkit-user-select: none;

}

#app {
    position: relative;
    height: 100%;
    width: 100%;
}