:root {
    font-family: 'SFProText';
    font-weight: 400;

    /* key lengths and sizes */

    /* --width-of-vertical-nav == variable controls the width of the vertical navbar, containing all of the links and such
    
    --height-of-horizontal-nav == controls the height of the horizontal bar, since the width is fixed, but the height can be changed
    */
    --width-of-vertical-nav: 16rem;
    --height-of-horizontal-nav: 3.5rem;

    --width-of-up-next-queue: 18rem;

    /* t--text-margin-of-vertical-nav == is for how far out the the main link text in the vertical nav bar goes
    
    --orange-music-logo-left-position == variable is used to keep the logo inline with previous variables text offset.
    
    ---vertical-nav-link-text-height == the height of the link texts inside the vertical nav
    */

    --orange-music-logo-left-position: 4.6rem;
    --vertical-nav-link-text-size: 0.9rem;

    --vertical-nav-link-text-height: 2.2rem;

    --text-margin-of-vertical-nav-hints: 0.5rem;
    --margin-of-search-bar: 0.1rem;
    --text-margin-of-vertical-nav: 2.3rem;





    /* colour variables */
    --blackest-black: #000000;
    --black-black: #0A0909;
    --black: #131211;
    --less-black: #1C1B1A;
    --lessest-black: #252422;
    --darkest-grey: #292825;
    --jet: #333234;
    --dark-grey: #2C2B28;
    --grey: #403D39;
    --davys-grey: #524E49;
    --granite-grey: #635f59;
    --nickel-grey: #757069;
    --middle-grey: #868179;
    --silver-grey: #A9a399;
    --pale-grey: #bbb4a9;
    --light-grey: #CCC5B9;
    --off-white: #FFFCF2;
    --white: #FFFFFF;

    --orange--3: #f4ae93;
    --orange--2: #f08b64;
    --orange--1: #ee7648;

    --orange: #EB5E28;

    --orange-1: #c94512;
    --orange-2: #a83a0f;
    --orange-3: #7d2b0b;
    --orange-4: #4d1a07;




    /*colour variables, but applied to more meaningful situation names */


    --bg-vertical-nav-bar: var(--lessest-black);
    --bg-main-area: var(--less-black);
    --bg-main-area-rgba: rgba(28, 27, 26, 1);
    --bg-main-area-rgba-no-opacity: rgba(28, 27, 26, 0);



    --bg-horizontal-nav-bar: rgba(41, 40, 42, 0.95);
    --bg-music-object-controls: rgba(0, 0, 0, 0.3);

    --bg-context-menu-popup: rgba(41, 40, 42, 0.70);
    --bg-context-menu-popup-item-underline: rgba(134, 129, 121, 0.3);
    --popup-content-outline-colour: rgba(134, 129, 121, 0.6);
    --bg-context-menu-popup-hover: rgba(255, 252, 243, 0.08);
    --up-next-queue-item-underline: rgba(134, 129, 121, 0.3);

    --bg-up-next-queue: rgba(51, 50, 52, 0.5);
    //--bg-up-next-queue: rgba(255, 252, 243, 0.1);
    --bg-up-next-queue-top-block: rgba(51, 50, 52, 0.8);

    --bg-up-next-queue-top: rgba(51, 50, 52, 0.8);


    --text-primary: var(--off-white);

    --lcd-background-colour: rgba(255, 252, 243, 0.2);



    /* svg filters */
    --make-svg-grey: invert(1) invert(37%) sepia(10%) saturate(302%) hue-rotate(357deg) brightness(200%) contrast(89%);
    --make-svg-light-grey: invert(1) invert(91%) sepia(12%) saturate(216%) hue-rotate(359deg) brightness(89%) contrast(83%);
    --make-svg-orange: invert(1) invert(64%) sepia(77%) saturate(6168%) hue-rotate(351deg) brightness(101%) contrast(84%);
    --make-svg-black: invert(1);
    --make-svg-dark-grey: invert(1) invert(8%) sepia(6%) saturate(675%) hue-rotate(2deg) brightness(93%) contrast(85%);
    --make-svg-grey-2: invert(1) invert(21%) sepia(5%) saturate(742%) hue-rotate(355deg) brightness(92%) contrast(86%);
    --make-svg-grey-3: invert(1) invert(37%) sepia(10%) saturate(302%) hue-rotate(357deg) brightness(95%) contrast(89%);


    /* animations ? */

    --transition-speed: 10ms;


    /* misc */
    --blur-area-px-radius: 8px;
    --blur-area-popup-px-radius: 40px;
    --blur-area-queue-px-radius: 50px;
}


body {
    color: black;
    background-color: var(--bg-main-area);
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;

    -webkit-user-select: none;

}

#app {
    position: relative;
    height: 100%;
    width: 100%;
}

/* scroll bar settings ---------------------------------------------------------------------- */

body::-webkit-scrollbar {
    width: 0rem;
}

/* main area scrollbar */
.main-area::-webkit-scrollbar {
    position: relative;
    height: 90%;
    width: 0.9rem;
    background-color: aqua;
    z-index: 100;
}

.main-area::-webkit-scrollbar-track {
    background: var(--grey);
}

.main-area::-webkit-scrollbar-thumb {
    background: var(--granite-grey);
    position: relative;
}


/* vertical navbar */
.scrolling-navbar::-webkit-scrollbar {
    background-color: var(--aqua);
    width: 0.9rem;
}

.scrolling-navbar::-webkit-scrollbar-track {
    background: var(--grey);
}

.scrolling-navbar::-webkit-scrollbar-thumb {
    background: var(--granite-grey);
    position: relative;
}

/* up next queue */
.up-next-queue-blur-box::-webkit-scrollbar {
    background-color: var(--aqua);
    width: 0.9rem;
}

.up-next-queue-blur-box::-webkit-scrollbar-track {
    background: var(--grey);
}

.up-next-queue-blur-box::-webkit-scrollbar-thumb {
    background: var(--granite-grey);
    position: relative;
}


/* playlist context menu */
.popup-context-playlist::-webkit-scrollbar {
    background-color: var(--aqua);
    width: 0.9rem;
    z-index: 10000;
}

.popup-context-playlist::-webkit-scrollbar-track {
    background: var(--grey);
}

.popup-context-playlist::-webkit-scrollbar-thumb {
    background: var(--granite-grey);
    position: relative;
}


::-webkit-scrollbar-button:single-button {
    background-color: rgb(64, 64, 64);
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}









/* main body area works ---------------------------------------------------------------------------------------------------- */

.main-area {
    margin-left: var(--width-of-vertical-nav);
    background-color: var(--bg-main-area);
    color: var(--text-primary);
    overflow-y: scroll;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
}