:root {
    --searchbar-container-height: 100%;
    --searchbar-container-width: 100%;

    --searchbar-borderradius: 8px;
    --searchbar-container-after-height: 38%;
    --searchbar-container-after-width: calc(100% - (1 * 0.4rem));
    --searchbar-container-after-topoffset: 10%;
    --searchbar-container-after-leftoffset: 0.4rem;

    --searchbar-container-after-background-colour: var(--dgrey-8);
    --searchbar-container-after-outline-colour: var(--lgrey-8);


    --searchbar-search-colour-unfocused: var(--dgrey-4);
    --searchbar-search-colour-focused: var(--lgrey-4);

    --topleft-button-containers-width: calc(100% - (1 * 0.4rem));
    --topleft-button-containers-height: calc(100% - 56%);
    --topleft-button-containers-topoffset: calc(100% - (38% + 10%));
    --topleft-button-containers-leftoffset: 0.4rem;
}

.topleft-searchbarContainer {
    position: relative;
    height: var(--searchbar-container-height);
    width: var(--searchbar-container-width);

}


.topleft-searchbarContainerL2 {
    position: absolute;
    height: var(--searchbar-container-after-height);
    width: var(--searchbar-container-after-width);

    top: var(--searchbar-container-after-topoffset);
    left: var(--searchbar-container-after-leftoffset);

    border-radius: var(--searchbar-borderradius);

    background-color: var(--searchbar-container-after-background-colour);

    //outline: 1px solid var(--searchbar-container-after-outline-colour);

}

.topleft-searchbarContainerL2:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */

    /*
    background: rgb(199, 0, 52);
    background: linear-gradient(130deg, rgba(199, 0, 52, 1) 0%, rgba(4, 233, 182, 1) 32%, rgba(3, 0, 215, 1) 41%, rgba(197, 3, 65, 1) 72%, rgba(5, 5, 184, 1) 93%, rgba(0, 212, 255, 1) 100%);
    
    */
    background-color: var(--searchbar-container-after-outline-colour);

    /*
    background-color: hsla(131, 80%, 90%, 1);
    background-image:
        radial-gradient(at 17% 93%, hsla(188, 79%, 77%, 1) 0px, transparent 75%),
        radial-gradient(at 67% 60%, hsla(208, 79%, 77%, 1) 0px, transparent 75%),
        radial-gradient(at 8% 18%, hsla(229, 79%, 68%, 1) 0px, transparent 75%);
	*/

}

/*
.searchbarContainer:before {
    position: absolute;
    content: "";
    height: 80%;
    top: 10%;
    width: 1px;
    background-color: var(--dgrey-8);
    z-index: 200;
    right: 0%;

    border-radius: 2px;
}
*/
.topleft-searchbar-hideLabels {
    position: absolute;
    opacity: 0%;
    user-select: none;

}

.topleft-searchbar-input {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    width: 72.5%;
    left: 12.5%;
    height: 100%;
    color: var(--searchbar-search-colour-unfocused);
    font-style: italic;
}

.topleft-searchbar-input:focus {
    color: var(--searchbar-search-colour-focused);
    font-style: normal;
}


.topleft-button-containers {
    position: relative;
    height: var(--topleft-button-containers-height);
    width: var(--topleft-button-containers-width);
    top: var(--topleft-button-containers-topoffset);
    left: var(--topleft-button-containers-leftoffset);

}

.topleft-button-containersL2 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: flex-start;
}

.topleft-button-container-button {
    position: relative;
    height: 70%;
    top: 15%;
    width: 3.5rem;
    background-color: black;
    //outline: 1px solid lightgrey;
    margin-right: 0.7rem;
    border-radius: 2px;
}

.topleft-button-container-button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */

    background: rgb(199, 0, 52);
    background: linear-gradient(130deg, rgba(199, 0, 52, 1) 0%, rgba(4, 233, 182, 1) 32%, rgba(3, 0, 215, 1) 41%, rgba(197, 3, 65, 1) 72%, rgba(5, 5, 184, 1) 93%, rgba(0, 212, 255, 1) 100%);

}

.topleft-search-icon {
    position: absolute;
    height: 50%;
    top: 25%;
    aspect-ratio: 1/1;
    left: 3.5%;

}

.topleft-clearIcon {
    position: absolute;
    height: 50%;
    aspect-ratio: 1/1;
    top: 25%;
    right: 3.5%;
    filter: invert(100%);

    visibility: hidden;
}



/**/