:root {
    --searchbar-container-height: 100%;
    --searchbar-container-width: 100%;

    --searchbar-borderradius: 8px;
    --searchbar-container-after-height: 38%;
    --searchbar-container-after-width: calc(100% - (2 * 0.4rem));
    --searchbar-container-after-topoffset: 10%;
    --searchbar-container-after-leftoffset: 0.4rem;

    --searchbar-container-after-background-colour: var(--dgrey-8);
    --searchbar-container-after-outline-colour: var(--lgrey-8);


    --searchbar-search-colour-unfocused: var(--lgrey-5);
    --searchbar-search-colour-focused: var(--lgrey-2);

    --topleft-button-containers-width: calc(100% - (1 * 0.4rem));
    --topleft-button-containers-height: calc(100% - 56%);
    --topleft-button-containers-topoffset: calc(100% - (38% + 10%));
    --topleft-button-containers-leftoffset: 0.4rem;
}

.topleft-searchbarContainer {
    position: relative;
    height: var(--searchbar-container-height);
    width: var(--searchbar-container-width);

}


.topleft-searchbarContainerL2 {
    position: absolute;
    height: var(--searchbar-container-after-height);
    width: var(--searchbar-container-after-width);

    top: var(--searchbar-container-after-topoffset);
    left: var(--searchbar-container-after-leftoffset);

    border-radius: var(--searchbar-borderradius);

    //background-color: var(--searchbar-container-after-background-colour);

    //background-color: red;

    //outline: 1px solid var(--searchbar-container-after-outline-colour);
    //outline: 1px solid white;
}




.topleft-searchbar-hideLabels {
    position: absolute;
    opacity: 0%;
    user-select: none;

}

.topleft-searchbar-input {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    width: 72.5%;
    left: 12.5%;
    height: 100%;
    color: var(--searchbar-search-colour-unfocused);
    font-style: italic;
}

.topleft-searchbar-input::placeholder {
    color: var(--searchbar-search-colour-unfocused);
}

.topleft-searchbar-input:focus {
    color: var(--searchbar-search-colour-focused);
    font-style: normal;
}


.topleft-button-containers {
    position: relative;
    height: var(--topleft-button-containers-height);
    width: var(--topleft-button-containers-width);
    top: var(--topleft-button-containers-topoffset);
    left: var(--topleft-button-containers-leftoffset);

}

.topleft-button-containersL2 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: flex-start;
}

.topleft-button-container-button {
    position: relative;
    height: 70%;
    top: 15%;
    width: 3.5rem;
    margin-right: 0.7rem;
    border-radius: 2px;

    background-color: hsla(0, 0%, 10%, 0.5);

}

.topleft-button-container-button:nth-child(1) {
    /*
    background-color: hsla(85, 80%, 20%, 0.25);
    background-image:
        radial-gradient(at 40% 20%, hsla(131, 40%, 37%, 1) 0px, transparent 25%),
        radial-gradient(at 70% 100%, hsla(208, 40%, 35%, 1) 0px, transparent 25%),
        radial-gradient(at 30% 0%, hsla(230, 30%, 32%, 1) 0px, transparent 25%);

    //filter: brightness(0.2);*/
    background-color: hsla(0, 0%, 10%, 0.5);

}


.topleft-button-container-button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */

    background-color: hsla(85, 80%, 90%, 1);
    background-image:
        radial-gradient(at 40% 20%, hsla(131, 90%, 77%, 1) 0px, transparent 100%),
        radial-gradient(at 70% 100%, hsla(208, 90%, 35%, 1) 0px, transparent 100%),
        radial-gradient(at 30% 0%, hsla(230, 100%, 23%, 1) 0px, transparent 100%);
}

.topleft-button-container-button:nth-child(2):before {
    background-color: hsla(162, 50%, 69%, 1);
    background-image: radial-gradient(at 60% 30%, hsla(230, 60%, 60%, 1) 0px, transparent 100%),
        radial-gradient(at 60% 90%, hsla(255, 90%, 75%, 1) 0px, transparent 100%),
        radial-gradient(at 100% 20%, hsla(162, 100%, 73%, 1) 0px, transparent 100%);
}

.topleft-button-container-button:nth-child(3):before {
    background-color: hsla(205, 50%, 69%, 1);
    background-image:
        radial-gradient(at 10% 60%, hsla(230, 60%, 90%, 1) 0px, transparent 100%),
        radial-gradient(at 40% 20%, hsla(230, 90%, 75%, 1) 0px, transparent 100%),
        radial-gradient(at 70% 40%, hsla(255, 100%, 73%, 1) 0px, transparent 100%);

}


.topleft-search-icon {
    position: absolute;
    height: 50%;
    top: 25%;
    aspect-ratio: 1/1;
    left: 3.5%;

}

.topleft-clearIcon {
    position: absolute;
    height: 50%;
    top: 25%;
    aspect-ratio: 1/1;
    right: 3.5%;
    filter: invert(100%);
    outline: 0.2rem solid transparent;

    background-color: transparent;

    opacity: 0%;
}



/**/