:root {

    --TOPRIGHT-playbackcontrols-width: 10rem;
    --TOPRIGHT-playbackcontrols-leftoffset: calc((100% - var(--TOPRIGHT-playbackcontrols-width)) / 2);

    --TOPRIGHT-accountcontrols-volumeslider-width: 8rem;
}

.TOPRIGHT-topHalf-right-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* playback controls : left ------------------------------------------------- */
.TOPRIGHT-playbackcontrols-container {
    position: relative;
    height: 100%;
    width: 25%;
}

.TOPRIGHT-playbackcontrols-displacement {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    left: var(--TOPRIGHT-playbackcontrols-leftoffset);
    width: 100%;
    max-width: var(--TOPRIGHT-playbackcontrols-width);
    height: 100%;
}


#PLAYERplayButton,
#PLAYERshuffleButton,
#PLAYERbackButton,
#PLAYERnextButton,
#PLAYERloopButton {
    filter: var(--make-svg-grey);
}

#PLAYERplayButton:hover,
#PLAYERshuffleButton:hover,
#PLAYERbackButton:hover,
#PLAYERnextButton:hover,
#PLAYERloopButton:hover {
    filter: none !important;
}

.TOPRIGHT-svg-image-buttons-relative-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: none;
}

.TOPRIGHT-svg-image-buttons-absolute-container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: none;
}


/* lcd  : middle -------------------------------------------------  */
.TOPRIGHT-lcd-container {
    position: relative;
    height: 100%;
    width: 40%;
    //background-color: blue;
}

/* account controls : right ------------------------------------------------- */
.TOPRIGHT-accountcontrols-container {
    position: relative;
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.TOPRIGHT-accountcontrols-volumeslider-container {
    position: relative;
    height: 100%;
    width: var(--TOPRIGHT-accountcontrols-volumeslider-width);
    display: flex;
    justify-content: space-apart;
}

/* volume icons */
.TOPRIGHT-accountcontrols-volumeslider-volumeIcons-container {
    display: grid;
    place-items: center;

    position: relative;
    height: 100%;
    width: 15%;
    margin-left: 5%;
}

.TOPRIGHT-accountcontrols-volumeslider-volumeIcons-container img {
    position: absolute;
    left: -03%;
}

#volumeControlZero,
#volumeControlOne,
#volumeControlTwo {
    visibility: hidden;
}


/* volume slider */
#volumeSliderID {
    /* the parent container of the slider */
    position: relative;
    width: 100%;

    height: 100%;

    display: grid;
    place-items: center;
}

/* the actual slider */
#volumeSliderID input[type="range"] {
    -webkit-appearance: none;
    position: relative;
    width: 70%;
    height: 0.15rem;
    border-radius: 8px;

    cursor: pointer;

    background: transparent;
    backdrop-filter: contrast(0.2) brightness(4);
}

#volumeSliderID input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    cursor: pointer;

    background: var(--indigo-0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px inset, rgba(64, 61, 57, 0.4) 0px 0px 0px 01px;
}

#volumeSliderID input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: pointer;
}




.TOPRIGHT-accountcontrols-buttonarea-container {
    position: relative;
    height: 100%;
    //background-color: red;
    width: calc(100% - var(--TOPRIGHT-accountcontrols-volumeslider-width));
    display: flex;
    justify-content: space-apart;
}

.TOPRIGHT-accountcontrols-buttonarea-queue-container {
    position: relative;
    height: 100%;
    width: 4rem;

}

.TOPRIGHT-accountcontrols-buttonarea-queue-positioner {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

#queueIcon {
    position: relative;
    filter: var(--make-svg-grey);
}