/* up next queue container --------------------------------------------------------------------------------------------------------------------------------------------------------*/
.up-next-queue-container {
    position: fixed;
    width: var(--width-of-up-next-queue);
    height: calc(100% - var(--height-of-horizontal-nav));

    bottom: 0%;
    right: -100%;

    transition: right 0.7s;

    z-index: 100;
}

.up-next-queue-blur-box {
    position: relative;
    height: 100%;
    width: 100%;
    //background-color: aqua;

    -webkit-backdrop-filter: blur(var(--blur-area-queue-px-radius)) sepia(0.3);
    backdrop-filter: blur(var(--blur-area-queue-px-radius));
    background-color: var(--bg-up-next-queue);

    overflow-y: scroll;

}

.queue-top-area-colour-block {
    position: absolute;
    width: 100%;
    height: var(--height-of-horizontal-nav);
    background-color: var(--bg-up-next-queue-top-block);

}

.queue-top-area {
    position: sticky;
    top: 0%;
    width: 100%;
    height: var(--height-of-horizontal-nav);
    background-color: var(--bg-up-next-queue-top);
    //background-color: aqua;
    display: flex;
    justify-content: space-between;
    z-index: 100000;
}

.queue-top {
    position: relative;
    height: 100%;
    top: 45%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.queue-top-area-left {
    font-weight: 600;
    font-size: 1.1rem;
}

.queue-top-area-right {
    font-weight: 400;
    font-size: 1rem;
    color: var(--orange--1);
    cursor: pointer;
}

.up-next-queue-list {
    position: relative;
    width: 100%;
}

.up-next-queue-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.absolute-remove-from-queue {
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    border: 2px solid white;
    background-color: var(--orange-2);
    //background-color: red;
    top: 0.3rem;
    left: 0.7rem;
    z-index: 10;
    display: none;
    cursor: pointer;
}

.up-next-queue-item:hover .absolute-remove-from-queue {
    display: block;
}

.white-line {
    position: relative;
    top: 42%;
    height: 2px;
    width: 50%;
    left: 25%;
    background-color: white;
}

.up-next-queue-item-box {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.up-next-queue-image-container {
    position: relative;
    height: 2.3rem;
    width: 2.3rem;
    margin-left: 1.2rem;
}

.up-next-queue-image {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.up-next-queue-text-container {
    position: relative;
    height: 2.3rem;
    width: 55%;
    //background-color: orange;
    display: flex;
    flex-direction: column;

}

.up-next-queue-text-song-title {
    position: relative;
    height: 50%;
    font-size: 0.85rem;
    color: var(--off-white);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.up-next-queue-text-song-artist {
    position: relative;
    font-size: 0.85rem;
    height: 50%;
    color: var(--pale-grey);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.up-next-queue-time-container {
    position: relative;
    height: 2.3rem;
    width: 2.3rem;
    margin-right: 0.5rem;
    //background-color: rebeccapurple;
    cursor: pointer;
}

.up-next-queue-time-span {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--pale-grey);
    font-size: 0.85rem;
}

.up-next-queue-item:hover .up-next-queue-time-span {
    display: none;
}

.up-next-queue-item-context-call {
    display: none;
    position: relative;
    top: 18%;
    left: 15%;
    //-ms-transform: translateY(-50%);
    //transform: translateY(-50%);
    //margin-bottom: 1rem;
    filter: var(--make-svg-orange);

}

.up-next-queue-item:hover .up-next-queue-item-context-call {
    display: block;
}

.up-next-queue-item-underline {
    position: relative;
    width: 65%;
    left: 25%;
    height: 0.05rem;
    background-color: var(--up-next-queue-item-underline);
}