/* the left bar is currently hidden, but it is something that should not be forgotten  */

:root {
    --width-of-left-bar: 0rem;
    --width-of-left-bar-fortop: 16rem;
    --height-of-top: 4rem;

    --border-radius-top: 8px;


    --outline-and-back: var(--dgrey-7);

    --background-top-right-back: var(--outline-and-back);
    --background-top-left-back: var(--outline-and-back);
    --background-bottom-left-back: var(--outline-and-back);
    --background-bottom-right-back: var(--dgrey-6);


    --content-inset: 0.4rem;
    --content-inset-colour: var(--outline-and-back);

    --playercontrols-outline-colour: var(--lgrey-0);

}

@media (max-width: 850px) {

    /*
    :root {
        --width-of-left-bar-fortop: 0rem;

    }

    .topHalf-left {
        visibility: hidden;
    }
    */
    .TOPRIGHT-accountcontrols-container,
    .TOPRIGHT-playbackcontrols-container {
        visibility: hidden;
    }

    .TOPRIGHT-lcd-container {
        width: 100%;
    }

}

@media (max-width: 600px) {

    :root {
        --width-of-left-bar-fortop: 0rem;

    }

    .topHalf-left {
        visibility: hidden;
        display: none;
    }

}



main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.botHalf-left {
    position: relative;
    width: var(--width-of-left-bar);
    height: calc(100% - var(--height-of-top));
    top: var(--height-of-top);

    z-index: 10;
    float: left;
}

.contentContainer {
    position: relative;
    width: calc((100% - var(--width-of-left-bar)));
    height: 100%;
    overflow: hidden;
}

.content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}



.topHalf-container {
    position: absolute;
    height: var(--height-of-top);
    width: 100%;
    z-index: 10;
    display: block;
    overflow: hidden;

    backdrop-filter: brightness(0.6) blur(10px) contrast(0.6) brightness(0.9);
    -webkit-backdrop-filter: brightness(0.6) blur(10px) contrast(0.6) brightness(0.9);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .topHalf-container {
        bottom: 0;
    }
}

.topHalf {
    position: relative;
    width: 100%;
    height: var(--height-of-top);
    display: flex;

}

.topHalf:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0.2;
    right: 0;
    content: "";
    bottom: 0;
}

.topHalf-left {
    position: relative;
    height: 100%;
    width: var(--width-of-left-bar-fortop);
    //background-color: var(--background-top-left-back);
    z-index: 10;
}

.topHalf-left:before {
    position: absolute;
    z-index: 1;
    width: 1px;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    right: 0;
    content: "";
    top: 0;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .topHalf-left {
        display: none;
    }
}



.topHalf-right {
    position: relative;
    height: 100%;
    width: calc(100% - var(--width-of-left-bar-fortop));
    overflow: hidden;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .topHalf-right {
        width: 100%;
    }
}