:root {
    --LCD-widthOfMenuContainer: 1rem;

    --LCD-widthOfTimeIndicators: 2rem;


    --LCD-afterContent-bottom-left: "0:00";
    --LCD-afterContent-bottom-right: "-0:00";

    --LCD-seekbar-indicator-left: 0%;

    --LCD-seekbar-width: 0%;
}

.LCDbody {
    position: relative;
    width: 98%;
    height: 80%;
    top: 10%;
    left: 1%;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .LCDbody {
        left: 5%;
    }
}

.LCDcontentContainer {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .LCDcontentContainer {
        display: none;

    }
}

.LCDleftImage {
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
}

.LCDleftImage img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    object-fit: cover;
}



.LCDrightContent {
    flex: 1 1 auto;
    position: relative;
}

.LCDright-titleTextAndMenuContainer {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LCDrightTitleText-centreBox {
    height: auto;
    display: flex;
    align-items: center;
    width: auto;
    overflow: hidden;
}

.LCDrightTitleText-leftSpacer {
    flex: 0 0 var(--LCD-widthOfMenuContainer);
    height: 1rem;
    //background-color: hsla(180, 100%, 60%, 0.5);
    padding-left: 0.3rem;

}

.LCDrightTitleText-text {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1rem;
    font-size: 0.8rem;

    color: white;
    font-weight: 600;
}


.LCDrightTitleText-menuContainer {
    position: relative;
    flex: 0 0 var(--LCD-widthOfMenuContainer);
    height: 1rem;
    aspect-ratio: 1/1;
    //background-color: hsla(180, 100%, 60%, 0.5);
    cursor: pointer;
    padding-left: 0.3rem;
}

.LCDrightTitleText-menuContainer img {
    position: relative;
    height: 100%;
    aspect-ratio: 2/3;
    filter: var(--make-svg-orange);
    opacity: 0%;
    transition: opacity 150ms ease-in-out;
    transition: opacity 30ms ease-in-out;
}

.LCDbody:hover img {
    opacity: 100%;
}

.LCDright-bottomTextPlusTimeIndicatorsContainer {
    position: relative;
    height: 1.6rem;
    width: 100%;
    display: flex;
}


.LCDright-bottomTextTimeIndicatorsLeft {
    position: relative;
    width: var(--LCD-widthOfTimeIndicators);
    height: 100%;

    font-size: 0.7rem;
}

.LCDright-bottomTextTimeIndicatorsLeft::after {
    content: var(--LCD-afterContent-bottom-left);
    position: absolute;
    bottom: 0.1rem;
    left: 0.3rem;

    color: var(--lgrey-4);
    opacity: 0%;
    transition: opacity 30ms ease-in-out;


}

.LCDbody:hover .LCDright-bottomTextTimeIndicatorsLeft::after {
    opacity: 100%;
}

.LCDright-bottomTextTimeIndicatorsRight {
    position: relative;
    width: var(--LCD-widthOfTimeIndicators);
    height: 100%;

    font-size: 0.7rem;
}

.LCDright-bottomTextTimeIndicatorsRight::after {
    content: var(--LCD-afterContent-bottom-right);
    position: absolute;
    bottom: 0.1rem;
    right: 0.3rem;

    color: var(--lgrey-4);
    opacity: 0%;
    transition: opacity 30ms ease-in-out;
}

.LCDbody:hover .LCDright-bottomTextTimeIndicatorsRight::after {
    opacity: 100%;
}


.LCDright-bottomText-text-container {
    position: relative;
    width: calc(100% - (2 * var(--LCD-widthOfTimeIndicators)));
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;


    color: white;
    font-weight: 400;
}

.LCDright-bottomText-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* LCD seek bar code ----------------------------------------- */
.LCDright-bottom-seekBar {
    position: absolute;
    width: 100%;
    height: 1rem;
    bottom: 0;
}

.LCDright-bottom-seekBar input[type="range"] {
    position: relative;
    top: 0;
    //left: calc(13% - 0.2rem);
    left: 0rem;
    -webkit-appearance: none;
    visibility: hidden;
    width: calc(100% - 0.2rem);
    height: 100%;
    cursor: grabbing;
}


.LCDright-bottom-seekBar input[type="range"]::-webkit-slider-thumb {
    position: relative;
    visibility: visible;
    -webkit-appearance: none;

    height: 40%;
    width: 0.13rem;
    top: 60%;
    //left: var(--LCD-seekbar-indicator-left);

    /*
    --border-radius: 5px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    */

    background: grey;
    background: var(--teal-3);
    background-color: var(--teal-4);
    cursor: ew-resize;
    transition: 30ms ease-in-out;

    cursor: grabbing;

    opacity: 0%;

    z-index: 2;
}

.LCDbody:hover input[type="range"]::-webkit-slider-thumb {
    opacity: 100%;
}

.LCDright-bottom-seekBar input[type=range]::-webkit-slider-runnable-track {
    position: relative;
    visibility: visible;
    -webkit-appearance: none;

    cursor: pointer;

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.LCDright-bottom-seekBar-indicator::before {
    content: "";
    width: var(--LCD-seekbar-width);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    background-color: var(--lgrey-5);


}

.LCDright-bottom-seekBar-indicator {
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: var(--dgrey-7);
    bottom: 0;

}


/* mobile ------- */
.LCDcontentContainerMobile {
    display: none;
}


@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .LCDcontentContainerMobile {
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
    }

    .LCDleftImage {
        height: 3.2rem;
        aspect-ratio: 1/1;
        flex: 0 0 auto;
        position: relative;
        overflow: hidden;

        border-radius: 5px;

    }

    .LCDleftImage img {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        object-fit: cover;
    }

    .LCDtitleTextMobile {
        position: absolute;
        top: 0;
        left: 3.6rem;
        height: 3.2rem;
        width: calc(100% - 3.6rem);

        /* center the text vertically */
        display: flex;
        align-items: center;
        color: white;


        /* hide the overflowing text */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}























/**/