.menuModalEnvironment {
    position: absolute;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 100;

    display: none;
}

.menuModalBackground {
    /*background-color: hsla(130, 60%, 50%, 0.5);
    backdrop-filter: blur(0px);*/
}

.MENUmodalBody {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12rem;
    //background-color: red;
    border-radius: 8px;
    z-index: 2;

    outline: 1px solid white;
    pointer-events: none;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalBody {
        bottom: 0 !important;
        top: auto !important;

        width: 100%;
        left: 0 !important;

        border-radius: 0;

    }
}

.MENUmodalItemContainer {
    position: relative;
    height: 2rem;
    width: 100%;

    display: flex;
    align-items: center;
    pointer-events: all;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalItemContainer {
        height: 4rem;

    }
}

.MENUmodalItemContainer::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 0.02rem;
    bottom: 0;

    background-color: hsla(0, 100%, 100%, 0.2);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalItemContainer::after {
        background-color: transparent;

    }
}

.MENUmodalItemContainer:hover {
    background-color: hsla(0, 100%, 100%, 0.1);

}

.MENUmodalTextArranger {
    position: relative;


    color: white;
    left: 0.5rem;

    font-weight: 400;
    font-size: 0.8rem;

    pointer-events: none;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalTextArranger {
        font-size: 1.2rem;
        left: 2.5rem;

    }
}

.MENUmodalSVGcontainer {
    position: absolute;

    height: 1rem;
    width: 1rem;

    right: 0.5rem;
    pointer-events: none;


}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalSVGcontainer {
        left: 1rem;
        filter: var(--make-svg-orange);
    }
}

.MENUmodalSVG {
    height: 90%;
    aspect-ratio: 1/1;
    pointer-events: none;

}




/* the image project updaters modal --------------------------------- */
.MENUmodalBody_image_select {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 12rem;
    width: 12rem;
    background-color: hsla(330, 20%, 10%, 1.0);
    border-radius: 8px;
    z-index: 2;

    pointer-events: auto;


    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, minmax(1rem, 2fr));
    grid-auto-rows: 1fr;
    /* This sets all rows to have equal height */
    grid-template-areas:
        "file-select file-select"
        "image-preview file-submit";

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .MENUmodalBody_image_select {
        top: auto !important;
        bottom: 0px !important;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;

        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

    }
}



.MENUmodalBody_image_select_file_drop_area,
.MENUmodalBody_image_preview_area,
.MENUmodalBody_image_submit_area {
    position: relative;
    inset: 0.5rem;
    height: calc(100% - (2 * 0.5rem));
    width: calc(100% - (2 * 0.5rem));
    border-radius: 8px;
    background-color: hsla(330, 10%, 20%, 1.0);
    overflow: hidden;

}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {

    .MENUmodalBody_image_select_file_drop_area,
    .MENUmodalBody_image_preview_area,
    .MENUmodalBody_image_submit_area {
        inset: 1rem;
        height: calc(100% - (2 * 1rem));
        width: calc(100% - (2 * 1rem));

        border-radius: 1rem;

    }
}

.MENUmodalBody_image_select_file_drop_area {
    grid-area: file-select;
    outline: 1px solid hsl(330, 50%, 20%);

    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.MENUmodalBody_image_select_file_drop_area button {
    all: unset;
    position: relative;
    width: 60%;
    text-align: center;
    left: 20%;

}

.MENUmodalBody_image_preview_area {
    grid-area: image-preview;
    outline: 1px solid hsl(330, 0%, 90%);
}

.MENUmodalBody_image_preview_area img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.MENUmodalBody_image_submit_area {
    grid-area: file-submit;
    border-radius: 50%;
    outline: 1px solid hsl(330, 50%, 70%);
    //outline: 1px solid red;
}

.MENUmodalBody_image_submit_area button {
    all: unset;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;

    color: white;

    visibility: hidden;

    background-color: hsl(0, 100%, 50%);

    visibility: hidden;

}

.MENUmodalBody_image_submit_area_loader_spinner {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
}

.MENUmodalBody_image_submit_area_loader_spinner div {
    border-top: 4px solid white;
    border-radius: 50%;
    width: 96%;
    height: 96%;
    animation: MENU_LOADER_spin 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes MENU_LOADER_spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



































/**/