:root {
    --MOG-height-of-MOGitem: 19rem;

    --MOG-hover-background: red;
}

.MOG-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    top: calc(var(--height-of-top) + 0.0rem);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {

    .MOG-container {
        top: 1rem;


    }

}

.MOG-grid {
    position: relative;
    height: 100%;
    width: calc(100% - 2rem);
    margin: 1rem;

    /*  grid*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    grid-auto-rows: var(--MOG-height-of-MOGitem);
    grid-gap: 1rem;

}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {

    /* CSS rules for devices with portrait aspect ratio, mobile size, and mobile cursor */
    .MOG-grid {
        grid-template-columns: repeat(2, 2fr);
        /* Two columns, each with a size of 15rem */
        grid-auto-rows: 17rem;


    }

    /* Add more styles as needed */
}

/* music object grid items ---- */
.MOG-itemContainer {
    position: relative;

    /* grid*/
    height: var(--MOG-height-of-MOGitem);
    width: 100%;
    max-width: 15rem;

}

.MOG-itemImageContainer {
    position: relative;
    top: 0;
    width: calc(100% - (2 * 1px));
    inset: 1px;
    aspect-ratio: 1/1;

    border-radius: 8px;
    overflow: hidden;

    outline: 1px solid hsla(0, 100%, 100%, 0.5);

    pointer-events: none;
}

.MOG-itemImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: relative;

    pointer-events: none;
}

.MOG-itemTextContainer {
    position: relative;
    width: 100%;
    margin-top: 0.3rem;

    pointer-events: none;
}

.MOG-itemTextTop {
    position: relative;
    font-size: 0.93rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: white;

}

.MOG-itemTextBottom {
    position: relative;
    color: var(--lgrey-4);
    font-size: 0.8rem;
    overflow: hidden;
    width: calc(100% - 1.8rem);


    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.MOG-itemCheckedDate {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;

    color: var(--lgrey-4);
}

.MOG-item-controlsContainer {
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 0;

    display: flex;

    pointer-events: auto;

}

.MOG-item-controls-play {
    --offset: 3rem;
    position: relative;
    height: var(--offset);
    top: calc((100% - var(--offset)) / 2);
    left: 0.5rem;

    width: var(--offset);

    border-radius: 50%;
    overflow: hidden;

    display: grid;
    place-items: center;

    opacity: 0%;
}

.MOG-itemContainer:hover .MOG-item-controls-play {
    opacity: 100%;
}

.MOG-item-controls-play:hover {
    background-color: var(--MOG-hover-background);
}


.MOG-item-controls-play img {
    position: relative;
    height: 1rem;
    width: 1rem;
    left: 0.1rem;

    pointer-events: none;
}

.MOG-item-controls-menu {
    --offset: 3rem;
    position: relative;
    height: var(--offset);
    top: calc((100% - var(--offset)) / 2);
    //right: calc(var(--offset) / 2);
    left: calc(100% - 6.5rem);

    width: var(--offset);
    border-radius: 50%;
    overflow: hidden;

    display: grid;
    place-items: center;

    opacity: 0%;
}

.MOG-itemContainer:hover .MOG-item-controls-menu {
    opacity: 100%;
}

.MOG-item-controls-menu:hover {
    background-color: var(--MOG-hover-background);
}

.MOG-item-controls-menu img {
    position: relative;
    height: 12.5%;
    width: 60%;
    pointer-events: none;

}







































/**/