:root {
    --PROJECTviewModalWidthOfSide: 2rem;

    --PROJECTviewDesktopHeaderFilter: saturate(1) blur(20px);
}

.PROJECTviewContainerEnvironment {
    position: fixed;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 100%;


    //background-color: hsla(150, 100%, 50%, 0.1);
    overflow: hidden;

    pointer-events: all;

}


.PROJECTviewContainerEnvironment::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.PROJECTviewContainer {
    position: relative;
    top: 0rem;
    padding-top: 6rem;
    height: calc(100% - 4rem);

    width: 90%;
    left: 5%;

    //background-color: hsla(200, 100%, 50%, 0.2);
    overflow-y: scroll;
    //overflow-x: hidden;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewContainer {
        padding-top: 1rem;
    }
}

.PROJECTviewContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.PROJECTview-topContainer {
    position: relative;
    width: 100%;

    min-height: 22rem;

    //background-color: hsla(0, 10%, 20%, 0.4);
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-areas:
        "PROJECTviewTopItem-1 PROJECTviewTopItem-3 PROJECTviewTopItem-3"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-2 PROJECTviewTopItem-2"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-5 PROJECTviewTopItem-5"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-5 PROJECTviewTopItem-5"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-6 PROJECTviewTopItem-7"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-4 PROJECTviewTopItem-4";
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTview-topContainer {
        grid-template-areas:
            "PROJECTviewTopItem-1"
            "PROJECTviewTopItem-2"
            "PROJECTviewTopItem-5"
            "PROJECTviewTopItem-6"
            "PROJECTviewTopItem-7";
        grid-template-columns: 100%;
    }
}



.PROJECTviewDisplayImage {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;

}

.PROJECTviewDisplayImage img {
    position: relative;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    border-radius: 8px;
    object-fit: cover;

    pointer-events: none;
}


.PROJECTviewTopItem-1 {
    grid-area: PROJECTviewTopItem-1;
}

.PROJECTviewDisplayTitle {
    display: block;
    //background-color: blue;

}

.PROJECTviewDisplayTitle h1 {
    color: white;
    margin: 0;
    user-select: text;
    pointer-events: auto;

    width: 90%;
    height: 2.5rem;

    white-space: nowrap;
    overflow: hidden;
}

.PROJECTviewDisplayTitle h3 {
    color: var(--cyan-4);
    margin-top: 0rem;
    user-select: text;
    pointer-events: auto;

    width: 70%;
    height: 1.3rem;

    white-space: nowrap;
    overflow: hidden;

}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewDisplayTitle h1 {
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
        height: 1.5rem;

    }

    .PROJECTviewDisplayTitle h3 {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        height: 1.1rem;
    }
}


.PROJECTviewTopItem-2 {
    grid-area: PROJECTviewTopItem-2;
}

.PROJECTviewDisplaySpacer {
    height: 2rem;
    width: 2rem;
    /*
    background-color: red;
    */
}

.PROJECTviewDisplaySpacer2 {
    height: 4rem;
    width: 4rem;
    background-color: red;
}

.PROJECTviewTopItem-3 {
    grid-area: PROJECTviewTopItem-3;
}

.PROJECTviewTopItem-4 {
    grid-area: PROJECTviewTopItem-4;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {

    .PROJECTviewTopItem-3,
    .PROJECTviewTopItem-4 {
        display: none;
    }

}

.PROJECTviewDisplayDescription {
    position: relative;
    display: block;
    width: 60%;
    height: 4.8rem;

    //background-color: red;

}

.PROJECTviewDisplayDescription p {
    margin: 0;
    position: relative;
    color: white;
    height: 100%;
    width: 100%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    pointer-events: auto;
}

.PROJECTviewDescriptionMoreButton {
    /*cancel old styles*/
    background-color: transparent;
    border: none;
    margin: 0rem;
    padding: 0rem;
    font-size: 0.9rem;

    position: absolute;
    bottom: -0.15rem;
    right: -0.5rem;


    color: white;
    font-weight: 600;

    cursor: pointer;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewDisplayDescription {
        width: 100%;
        margin-bottom: 1rem;
    }

    .PROJECTviewDescriptionMoreButton {
        display: none;
    }
}

/* spans that will fade out overflowing letters from the description */
.PROJECTopacity9 {
    opacity: 90%;
}

.PROJECTopacity8 {
    opacity: 85%;
}

.PROJECTopacity7 {
    opacity: 64%;
}

.PROJECTopacity6 {
    opacity: 32%;
}

.PROJECTopacity5 {
    opacity: 16%;
}

.PROJECTopacity4 {
    opacity: 8%;
}

.PROJECTopacity3 {
    opacity: 4%;
}

.PROJECTopacity2 {
    opacity: 1%;
}

.PROJECTopacity1 {
    opacity: 00%;
}

.PROJECTopacity0 {
    opacity: 00%;
}

.PROJECTviewTopItem-5 {
    grid-area: PROJECTviewTopItem-5;
}

.PROJECTviewTopItem-5 button:focus {
    outline: 1px solid hsla(0, 100%, 50%, 1);
    outline-offset: 0.3rem;
    border-radius: 4px;
}




.PROJECTviewTopItem-6 {
    grid-area: PROJECTviewTopItem-6;

    display: flex;
    flex-direction: row;
}

.PROJECTviewTopItem-6 button {
    all: unset;
    position: relative;
    border: none;
    color: white;
    padding: 0.3rem;
    border-radius: 8px;
    margin-right: 1rem;


    width: 6rem;
    height: 1.1rem;
    justify-content: center;
    align-items: center;
    display: flex;

    outline: 1px solid hsla(0, 100%, 100%, 0.3);

    transition: background-color 0.05s ease;
}

.PROJECTviewTopItem-6 button img {
    pointer-events: none;
}

.PROJECTviewTopItem-6 button:focus {
    outline: 1px solid hsla(0, 100%, 50%, 1);
}

.PROJECTviewTopItem-6 button:active {
    background-color: red;
    outline: 1px solid red;
}

.PROJECTviewTopItem-6 button div {
    position: relative;
    margin-left: 0.2rem;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewTopItem-6 {
        //background-color: blue;
        width: 98%;
        align-items: center;
        justify-content: space-between;
        margin-left: 1%;

        margin-bottom: 2rem;
    }

    .PROJECTviewTopItem-6 button {
        width: 45%;
        height: 1.5rem;
        margin-right: 0;
    }


}

.PROJECTviewDisplayMenu {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-left: calc(100% - 2.1rem);

    outline: 1px solid hsla(0, 100%, 100%, 0.3);
}

.PROJECTviewDisplayMenu button {
    all: unset;
}

.PROJECTviewDisplayMenu button {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 2;

    justify-content: center;
    align-items: center;
    display: flex;
}

.PROJECTviewDisplayMenu button:focus {
    outline: 1px solid hsla(0, 100%, 50%, 1);
}

.PROJECTviewDisplayMenu button:active {
    background-color: red;
}

.PROJECTviewDisplayMenu button img {
    position: relative;
    pointer-events: none;
}

.PROJECTviewTopItem-7 {
    grid-area: PROJECTviewTopItem-7;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewDisplayMenu {
        display: none;
    }
}





/* more description box */

.PROJECTviewMOREdescriptionboxEnvironment {
    position: absolute;
    width: 100%;
    height: calc(100% - 4rem);
    top: 4rem;

    display: grid;
    place-items: center;
    background-color: hsla(0, 100%, 0%, 0.4);
    backdrop-filter: saturate(0.8);

    display: none;
}

@media (max-width: 650px) {
    .PROJECTviewMOREdescriptionboxEnvironment {
        height: 100%;
        top: 0rem;
    }

}

.PROJECTviewMOREdescriptionContainer {
    position: relative;

    height: 28rem;
    width: 42rem;
    border-radius: 12px;

    background-color: hsla(0, 0%, 12%, 1.0);

    color: white;
}

@media (max-width: 650px) {
    .PROJECTviewMOREdescriptionContainer {
        width: 100%;
        height: 80%;
        bottom: 0;
        align-self: end;

        margin-bottom: 0rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

}

.PROJECTviewMOREdescriptionContainer::before {
    position: absolute;
    content: "";
    bottom: 1rem;
    left: 0;
    height: 2rem;
    width: calc(100% - (1.5 *var(--PROJECTviewModalWidthOfSide)));
    background: linear-gradient(to bottom, hsla(0, 0%, 12%, 0), hsla(0, 0%, 12%, 1));
    z-index: 1;
}


.PROJECTviewMOREcloseButton {
    position: absolute;
    left: calc(var(--PROJECTviewModalWidthOfSide) / 2);
    top: calc(var(--PROJECTviewModalWidthOfSide) / 2);
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.PROJECTviewMOREcloseButton img {
    filter: var(--make-svg-grey);
}


.PROJECTviewMOREdescriptionHeaderContainer {
    position: relative;
    //background-color: blue;
    top: 3.5rem;
    height: 4rem;
    margin-bottom: 2rem;
    width: calc(100% - (2 * var(--PROJECTviewModalWidthOfSide)));
    left: var(--PROJECTviewModalWidthOfSide);
    overflow: hidden;

}

.PROJECTviewMOREdescriptionHeaderContainer h1 {
    position: relative;
    margin: 0;
}

.PROJECTviewMOREdescriptionHeaderContainer h3 {
    margin: 0;
    position: relative;
    color: hsla(0, 0%, 90%, 1.0);
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewMOREdescriptionHeaderContainer h3 {
        visibility: hidden;
    }

    .PROJECTviewMOREdescriptionHeaderContainer {
        height: 2.3rem;

    }

}

.PROJECTviewMOREdescriptionContentContainer {
    position: relative;
    width: calc(100% - (2 * var(--PROJECTviewModalWidthOfSide)));
    left: var(--PROJECTviewModalWidthOfSide);

    height: calc(100% - 10rem);


    top: 3rem;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewMOREdescriptionContentContainer {
        top: 2rem;
    }
}




.PROJECTviewMOREdescriptionContentContainer textarea {
    border: none;
    resize: none;
    outline: none;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    font: inherit;

    position: relative;
    background-color: transparent;
    color: white;

    height: calc(100% - 2rem);
    width: 100%;

    padding-bottom: 2rem;

}

/* project table area */

.PROJECTview-projectAreaContainer {
    position: relative;
    width: 100%;

    margin-bottom: 2rem;
}

.PROJECTview-projectTable {
    position: relative;

}


.PROJECTview-projectTable-rowItem-Title {
    color: hsla(0, 100%, 100%, 0.95);
}



.PROJECTview-projectTable-rowItem-Title::after {
    content: "";
    position: absolute;
    height: 1.2rem;
    width: 2px;
    background-color: hsla(0, 100%, 100%, 0.15);
    left: -1rem;

}

.PROJECTview-projectTable-rowContainer:nth-child(even) {
    background-color: hsla(0, 100%, 100%, 0.15);
}

.PROJECTview-projectTable-rowItem-1,
.PROJECTview-projectTable-rowItem-2,
.PROJECTview-projectTable-rowItem-3,
.PROJECTview-projectTable-rowItem-4 {
    position: relative;
    white-space: nowrap;
    color: hsla(0, 0%, 90%, 1);
    width: 90%;
}

.PROJECTview-projectTable-rowItem-1 {
    color: white;
    display: flex;
}

.PROJECTview-projectTable-rowItem-Title,
.PROJECTview-projectTable-rowItem-Title-1 {
    color: hsla(0, 0%, 95%, 1);
}


.PROJECTview-projectTable-rowItem-1 img {
    position: relative;
    height: 100%;
    max-height: 2rem;
    aspect-ratio: 1/1;
    left: 0.5rem;
    border-radius: 2px;

    margin-right: 1rem;
}

.PROJECTview-projectTable-rowItem-1 div,
.PROJECTview-projectTable-rowItem-2 div,
.PROJECTview-projectTable-rowItem-3 div,
.PROJECTview-projectTable-rowItem-4 div {
    position: relative;
    top: 16%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PROJECTview-projectTable-rowItem-4 div {
    top: 0;
}

.PROJECTview-projectTable-rowItem-1 div {
    width: 75%;
}

.PROJECTview-projectTable-rowItem-2 {}

.PROJECTview-projectTable-rowItem-3 {}

.PROJECTview-projectTable-rowItem-4 {
    display: flex;
    align-items: center;

    width: 100%;

    /* Center vertically */
}

.PROJECTview-projectTable-rowItem-4 button {
    position: relative;
    all: unset;
    display: flex;
    /* Set the button as a flex container */
    align-items: center;
    /* Center horizontally and vertically */
    margin-bottom: 2%;
}

.PROJECTview-projectTable-rowItem-4 button:hover {
    cursor: pointer;
}

.PROJECTview-projectTable-rowItem-4 button:focus div {
    outline: 1px solid red;
}

.PROJECTview-projectTable-rowItem-4 button:active div {
    outline: 1px solid red;
    background-color: red;
}

.PROJECTview-projectTable-rowItem-4 button div {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;

    pointer-events: none;
}

.PROJECTview-projectTable-rowItem-4 button div img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;

    pointer-events: none;

    /*filter: var(--make-svg-orange);*/
}

.PROJECTview-projectTable-rowContainer {
    position: relative;
    display: grid;

    display: grid;
    grid-template-columns: 50% 30% calc(20% - 5.5rem) 5.5rem;
    /* Equal width columns */
    padding: 0.5rem 0;
    /* Optional: Add borders between rows */

    border-radius: 8px;
    margin: 0.3rem;
}

/*

.PROJECTview-projectTable-rowItem-1,
.PROJECTview-projectTable-rowItem-2,
.PROJECTview-projectTable-rowItem-3,
.PROJECTview-projectTable-rowItem-4

*/

@media (max-width: 900px) {
    .PROJECTview-projectTable-rowContainer {
        grid-template-columns: 55% calc(45% - 5.5rem) 5.5rem;
    }

    .PROJECTview-projectTable-rowItem-3 {
        display: none;
    }

}

@media (max-width: 650px) {
    .PROJECTview-projectTable-rowContainer {
        grid-template-columns: calc(100% - 5.5rem) 5.5rem;
    }

    .PROJECTview-projectTable-rowItem-3,
    .PROJECTview-projectTable-rowItem-2 {
        display: none;
    }

}

/* file upload prompt */

.PROJECTview-projectArea-uploadArea {
    position: relative;
    color: white;

    margin-bottom: 2rem;
}

.PROJECTview_dropArea {
    border: 2px dashed #ccc;
    padding: 1rem;
    text-align: center;
    cursor: pointer;

    border-radius: 8px;
}

.uploadsContainer {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
}


.upload-box {
    padding: 5px;
    transition: opacity 1s;
    position: relative;

    height: 1rem;

    outline: 1px solid white;

    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box.complete {
    opacity: 0;

}



.progress-bar {
    width: 90%;
    height: 0.3rem;
    //background-color: #ccc;
    position: absolute;
    z-index: 1;

    border-radius: 8px;
    overflow: hidden;

    transition: opacity 0.3s;

}

.progress-fill {
    height: 100%;
    background-color: white;
    width: 0;
    transition: width 0.3s, background-color 0.3s ease-in-out;
}

.progress-fill.complete {
    background-color: green;
}

.PROJECTview_upload_nameLabel {
    position: absolute;
    top: -1rem;
    z-index: 1;
    left: 0;
    width: 100%;

    font-size: 0.6rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Define the animation */
@keyframes opacityLoop {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}

/* Apply the animation to the element */
.opacity-animation {
    animation: opacityLoop 2s ease-in-out infinite;
    /* Adjust the duration and timing function as needed */
}


/* loose files area -------- */

.PROJECTview-filesAreaContainer {
    position: relative;
    width: 100%;

    height: 12rem;

    background-color: red;

    margin-bottom: 2rem;
}

/* mobile sticky header ------------- */

.PROJECTviewMobileStickyHeader {
    top: 4rem;
    position: absolute;
    height: 3rem;
    width: 100%;
    z-index: 2;
    backdrop-filter: var(--PROJECTviewDesktopHeaderFilter);
    background-color: hsla(255, 90%, 9%, 0.8);
}



@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewMobileStickyHeader {
        top: 0rem;
        position: absolute;

        background-color: transparent;
        backdrop-filter: none;

    }
}

.PROJECTviewMobileStickyHeader {
    grid-area: PROJECTviewTopItem-6;

    display: flex;
    flex-direction: row;
}

.PROJECTviewMobileStickyHeader button {
    all: unset;
    position: relative;
    border: none;
    color: white;
    border-radius: 50%;

    inset: 0.1rem;
    aspect-ratio: 1/1;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    transition: background-color 0.05s ease;
}

.PROJECTviewMobileStickyHeader button img {
    pointer-events: none;
}

.PROJECTviewMobileStickyHeader button:focus {
    outline: 1px solid hsla(0, 100%, 50%, 1);
}

.PROJECTviewMobileStickyHeader button:active {
    background-color: red;
    outline: 1px solid red;
}

.PROJECTviewMobileStickyHeader button div {
    position: relative;
    margin-left: 0.2rem;
}


.PROJECTviewMobileStickyHeaderMenuButton {
    position: relative;
    //left: calc(100% - 27.5rem);
    align-self: end;
    top: -0.9rem;
    transform: rotate(270deg);
    visibility: hidden;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .PROJECTviewMobileStickyHeaderMenuButton {
        visibility: visible;
    }
}

.PROJECTviewMobileStickyHeaderProjectNameContainer {
    position: relative;
    height: 100%;
    color: white;
    text-align: left;
    align-items: center;
    display: flex;
    width: calc(100% - (1 * 6rem));

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    visibility: hidden;
}









`
/**/