.PROJECTviewContainerEnvironment {
    position: fixed;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 100%;


    //background-color: hsla(150, 100%, 50%, 0.1);
    overflow: hidden;

}

.PROJECTviewContainerEnvironment::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.PROJECTviewContainer {
    position: relative;
    top: 0rem;
    padding-top: 4rem;
    height: calc(100% - 4rem);

    width: 90%;
    left: 5%;

    //background-color: hsla(200, 100%, 50%, 0.2);
    overflow-y: scroll;



}

.PROJECTviewContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.PROJECTview-topContainer {
    position: relative;
    width: 100%;

    min-height: 22rem;

    //background-color: hsla(0, 10%, 20%, 0.4);
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-areas:
        "PROJECTviewTopItem-1 PROJECTviewTopItem-3 PROJECTviewTopItem-3"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-2 PROJECTviewTopItem-2"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-5 PROJECTviewTopItem-5"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-5 PROJECTviewTopItem-5"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-6 PROJECTviewTopItem-7"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-4 PROJECTviewTopItem-4";
}



.PROJECTviewDisplayImage {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;

}

.PROJECTviewDisplayImage img {
    position: relative;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    border-radius: 8px;
    object-fit: cover;
}

.PROJECTviewTopItem-1 {
    grid-area: PROJECTviewTopItem-1;
}

.PROJECTviewDisplayTitle {
    display: block;
    //background-color: blue;

}

.PROJECTviewDisplayTitle h1 {
    color: white;
    margin: 0;
}

.PROJECTviewDisplayTitle h3 {
    color: var(--cyan-4);
    margin-top: 0.5rem;
}

.PROJECTviewTopItem-2 {
    grid-area: PROJECTviewTopItem-2;
}

.PROJECTviewDisplaySpacer {
    height: 2rem;
    width: 2rem;
    /*
    background-color: red;
    */
}

.PROJECTviewDisplaySpacer2 {
    height: 4rem;
    width: 4rem;
    background-color: red;
}

.PROJECTviewTopItem-3 {
    grid-area: PROJECTviewTopItem-3;
}

.PROJECTviewTopItem-4 {
    grid-area: PROJECTviewTopItem-4;
}

.PROJECTviewDisplayDescription {
    position: relative;
    display: block;
    width: 60%;
    height: 4.8rem;

    //background-color: red;

}

.PROJECTviewDisplayDescription p {
    margin: 0;
    position: relative;
    color: white;
    height: 100%;
    width: 100%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.PROJECTviewDescriptionMoreButton {
    position: absolute;
    bottom: 0;
    right: 0;

    color: white;
    font-weight: 600;
}

/* spans that will fade out overflowing letters from the description */
.PROJECTopacity9 {
    opacity: 90%;
}

.PROJECTopacity8 {
    opacity: 85%;
}

.PROJECTopacity7 {
    opacity: 64%;
}

.PROJECTopacity6 {
    opacity: 32%;
}

.PROJECTopacity5 {
    opacity: 16%;
}

.PROJECTopacity4 {
    opacity: 8%;
}

.PROJECTopacity3 {
    opacity: 4%;
}

.PROJECTopacity2 {
    opacity: 1%;
}

.PROJECTopacity1 {
    opacity: 00%;
}

.PROJECTopacity0 {
    opacity: 00%;
}

.PROJECTviewTopItem-5 {
    grid-area: PROJECTviewTopItem-5;
}



.PROJECTviewTopItem-6 {
    grid-area: PROJECTviewTopItem-6;
}

.PROJECTviewDisplayMenu {
    height: 2rem;
    width: 2rem;
    background-color: blue;
    border-radius: 50%;
    margin-left: calc(100% - 2rem);
}

.PROJECTviewTopItem-7 {
    grid-area: PROJECTviewTopItem-7;
}


.PROJECTview-projectAreaContainer {
    position: relative;
    width: 100%;

    height: 18rem;

    background-color: green;
}

.PROJECTview-filesAreaContainer {
    position: relative;
    width: 100%;

    height: 12rem;

    background-color: blue;
}
















/**/