:root {
    --PROJECTviewModalWidthOfSide: 2rem;
}

.PROJECTviewContainerEnvironment {
    position: fixed;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 100%;


    //background-color: hsla(150, 100%, 50%, 0.1);
    overflow: hidden;

    pointer-events: all;

}

.PROJECTviewContainerEnvironment::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.PROJECTviewContainer {
    position: relative;
    top: 0rem;
    padding-top: 4rem;
    height: calc(100% - 4rem);

    width: 90%;
    left: 5%;

    //background-color: hsla(200, 100%, 50%, 0.2);
    overflow-y: scroll;



}

.PROJECTviewContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.PROJECTview-topContainer {
    position: relative;
    width: 100%;

    min-height: 22rem;

    //background-color: hsla(0, 10%, 20%, 0.4);
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-areas:
        "PROJECTviewTopItem-1 PROJECTviewTopItem-3 PROJECTviewTopItem-3"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-2 PROJECTviewTopItem-2"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-5 PROJECTviewTopItem-5"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-5 PROJECTviewTopItem-5"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-6 PROJECTviewTopItem-7"
        "PROJECTviewTopItem-1 PROJECTviewTopItem-4 PROJECTviewTopItem-4";
}



.PROJECTviewDisplayImage {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;

}

.PROJECTviewDisplayImage img {
    position: relative;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    border-radius: 8px;
    object-fit: cover;
}

.PROJECTviewTopItem-1 {
    grid-area: PROJECTviewTopItem-1;
}

.PROJECTviewDisplayTitle {
    display: block;
    //background-color: blue;

}

.PROJECTviewDisplayTitle h1 {
    color: white;
    margin: 0;
    user-select: text;
    pointer-events: auto;

    width: 90%;
    height: 2.5rem;

    white-space: nowrap;
    overflow: hidden;
}

.PROJECTviewDisplayTitle h3 {
    color: var(--cyan-4);
    margin-top: 0rem;
    user-select: text;
    pointer-events: auto;

    width: 70%;
    height: 1.3rem;

    white-space: nowrap;
    overflow: hidden;

}

.PROJECTviewTopItem-2 {
    grid-area: PROJECTviewTopItem-2;
}

.PROJECTviewDisplaySpacer {
    height: 2rem;
    width: 2rem;
    /*
    background-color: red;
    */
}

.PROJECTviewDisplaySpacer2 {
    height: 4rem;
    width: 4rem;
    background-color: red;
}

.PROJECTviewTopItem-3 {
    grid-area: PROJECTviewTopItem-3;
}

.PROJECTviewTopItem-4 {
    grid-area: PROJECTviewTopItem-4;
}

.PROJECTviewDisplayDescription {
    position: relative;
    display: block;
    width: 60%;
    height: 4.8rem;

    //background-color: red;

}

.PROJECTviewDisplayDescription p {
    margin: 0;
    position: relative;
    color: white;
    height: 100%;
    width: 100%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    pointer-events: auto;
}

.PROJECTviewDescriptionMoreButton {
    /*cancel old styles*/
    background-color: transparent;
    border: none;
    margin: 0rem;
    padding: 0rem;
    font-size: 1.15rem;

    position: absolute;
    bottom: -0.15rem;
    right: -0.5rem;


    color: white;
    font-weight: 600;
}

/* spans that will fade out overflowing letters from the description */
.PROJECTopacity9 {
    opacity: 90%;
}

.PROJECTopacity8 {
    opacity: 85%;
}

.PROJECTopacity7 {
    opacity: 64%;
}

.PROJECTopacity6 {
    opacity: 32%;
}

.PROJECTopacity5 {
    opacity: 16%;
}

.PROJECTopacity4 {
    opacity: 8%;
}

.PROJECTopacity3 {
    opacity: 4%;
}

.PROJECTopacity2 {
    opacity: 1%;
}

.PROJECTopacity1 {
    opacity: 00%;
}

.PROJECTopacity0 {
    opacity: 00%;
}

.PROJECTviewTopItem-5 {
    grid-area: PROJECTviewTopItem-5;
}



.PROJECTviewTopItem-6 {
    grid-area: PROJECTviewTopItem-6;
}

.PROJECTviewDisplayMenu {
    height: 2rem;
    width: 2rem;
    background-color: blue;
    border-radius: 50%;
    margin-left: calc(100% - 2rem);
}

.PROJECTviewTopItem-7 {
    grid-area: PROJECTviewTopItem-7;
}


.PROJECTview-projectAreaContainer {
    position: relative;
    width: 100%;

    height: 18rem;

    background-color: green;
}

.PROJECTview-filesAreaContainer {
    position: relative;
    width: 100%;

    height: 12rem;

    background-color: blue;
}




/* more description box */

.PROJECTviewMOREdescriptionboxEnvironment {
    position: absolute;
    width: 100%;
    height: calc(100% - 4rem);
    top: 4rem;

    display: grid;
    place-items: center;
    background-color: hsla(0, 100%, 0%, 0.4);
    backdrop-filter: saturate(0.8);
}

.PROJECTviewMOREdescriptionContainer {
    position: relative;

    height: 28rem;
    width: 42rem;
    border-radius: 12px;

    background-color: hsla(0, 0%, 12%, 1.0);

    color: white;
}

.PROJECTviewMOREdescriptionContainer::before {
    position: absolute;
    content: "";
    bottom: 1rem;
    left: 0;
    height: 2rem;
    width: calc(100% - (1.5 *var(--PROJECTviewModalWidthOfSide)));
    background: linear-gradient(to bottom, hsla(0, 0%, 12%, 0), hsla(0, 0%, 12%, 1));
    z-index: 1;
}


.PROJECTviewMOREcloseButton {
    position: absolute;
    left: calc(var(--PROJECTviewModalWidthOfSide) / 2);
    top: calc(var(--PROJECTviewModalWidthOfSide) / 2);
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;

}

.PROJECTviewMOREcloseButton img {
    filter: var(--make-svg-grey);
}


.PROJECTviewMOREdescriptionHeaderContainer {
    position: relative;
    //background-color: blue;
    top: 3.5rem;
    height: 4rem;
    margin-bottom: 2rem;
    width: calc(100% - (2 * var(--PROJECTviewModalWidthOfSide)));
    left: var(--PROJECTviewModalWidthOfSide);
    overflow: hidden;

}

.PROJECTviewMOREdescriptionHeaderContainer h1 {
    position: relative;
    margin: 0;
}

.PROJECTviewMOREdescriptionHeaderContainer h3 {
    margin: 0;
    position: relative;
    color: hsla(0, 0%, 90%, 1.0);
}

.PROJECTviewMOREdescriptionContentContainer {
    position: relative;
    width: calc(100% - (2 * var(--PROJECTviewModalWidthOfSide)));
    left: var(--PROJECTviewModalWidthOfSide);

    height: calc(100% - 10rem);


    overflow: hidden;
    overflow-y: scroll;
    top: 3rem;
}



.PROJECTviewMOREdescriptionContentContainer p {
    margin: 0;
    margin-bottom: 2rem;
}


/**/