.settings_container {
    --top-offset: 4rem;
    width: 100%;
    height: calc(100% - var(--top-offset));
    top: var(--top-offset);
    position: relative;
    display: grid;
    overflow: hidden;
}

.settings_body_top_banner {
    position: absolute;
    width: 100%;
    height: 3rem;
    top: 0;

    background-color: var(--background-transparent);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 1;
}

.settings_body_top_banner button {
    all: unset;
    position: relative;
    border: none;
    border-radius: 50%;
    inset: 10%;
    left: 1rem;
    aspect-ratio: 1/1;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color 0.05s ease;

    color: var(--PV-text);
}

.settings_body_top_banner button img {
    filter: var(--make-svg-black);
}


.settings_body_top_banner button:hover {
    background-color: var(--secondary-weak);
    cursor: pointer;
}

.settings_body_top_banner button:focus {
    outline: 1px solid var(--PV-focus-colour);
    background-color: var(--secondary-weak);
}

.settings_body_top_banner button:active {
    background-color: var(--PV-focus-colour);
    outline: 1px solid var(--PV-focus-colour);
}

.settings_content {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
}

.settings_content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* the list of the different settings views  */
.settings_views_container {
    position: relative;
    height: 100%;
    width: var(--width-of-left-bar-fortop);
}

.settings_views_positioner {
    position: absolute;
    height: calc(100% - (8rem));
    top: 4rem;
    width: 100%;
    border-top-right-radius: 3rem;

    border-top: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
}

.settings_views_positioner h1 {
    width: 100%;
    height: 2rem;
    text-align: center;
}

.settings_views_list {
    position: relative;
    height: calc(100% - 2rem);
    width: 100%;
}

.settings_views_list_item {
    all: unset;
    position: relative;
    width: calc(90% - 1rem);
    left: 5%;
    height: 2.5rem;
    display: grid;
    border-radius: 10px;
    align-content: center;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1rem;

    outline: 1px solid var(--transparent-overlay-focus);
    background-color: var(--transparent-overlay);
}

.settings_views_list_item:nth-child(even) {
    outline: 1px solid var(--transparent-overlay);
    background-color: var(--background);
}

.settings_views_list_item:hover {
    background-color: var(--secondary-weak);

}

.settings_views_list_item:focus {
    background-color: var(--secondary-weak);
    outline: 1px solid var(--secondary);
}

.settings_views_list_item:active {
    background-color: var(--secondary);
    outline: 1px solid var(--secondary);
}


/* the individual settings view */
.settings_interaction_view {
    height: calc(100% - 2rem);
    width: calc(100% - var(--width-of-left-bar-fortop));
    overflow-y: scroll;
    overflow-x: hidden;
}

.settings_interaction_view::before {
    content: "";
    position: absolute;
    height: 4rem;
    width: 100%;
    border-bottom-left-radius: 3rem;
    bottom: 0;

    border-left: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.settings_interaction_view::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.settings_interaction_container {
    position: relative;
    top: 4rem;
    width: calc(((100% - 4rem) - 2px) - 4rem);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 0rem;

    border: 1px solid var(--grey);
}

.settings_interaction_container * a {
    color: var(--accent);
}

.settings_all_colours_display {
    position: relative;
    display: flex;
}

.settings_all_colours_display span {
    aspect-ratio: 1/1;
    height: 0.5rem;
}

.settings_all_colours_display span:nth-child(1) {
    background-color: var(--text);
}

.settings_all_colours_display span:nth-child(2) {
    background-color: var(--text-secondary);
}

.settings_all_colours_display span:nth-child(3) {
    background-color: var(--text-third);
}

.settings_all_colours_display span:nth-child(4) {
    background-color: var(--grey);
}

.settings_all_colours_display span:nth-child(5) {
    background-color: var(--background);
}

.settings_all_colours_display span:nth-child(6) {
    background-color: var(--primary);
}

.settings_all_colours_display span:nth-child(7) {
    background-color: var(--secondary);
}

.settings_all_colours_display span:nth-child(8) {
    background-color: var(--secondary-weak);
}

.settings_all_colours_display span:nth-child(9) {
    background-color: var(--secondary-dark);
}

.settings_all_colours_display span:nth-child(10) {
    background-color: var(--secondary-weak-dark);
}

.settings_all_colours_display span:nth-child(11) {
    background-color: var(--accent);
}

.settings_all_colours_display span:nth-child(12) {
    background-color: var(--success);
}

.settings_all_colours_display span:nth-child(13) {
    background-color: var(--whoopsie);
}

.settings_all_colours_display span:nth-child(14) {
    background-color: var(--background-overlay);
}

.settings_all_colours_display span:nth-child(15) {
    background-color: var(--transparent-overlay);
}

.settings_all_colours_display span:nth-child(16) {
    background-color: var(--transparent-overlay-focus);
}

.settings_all_colours_display span:nth-child(17) {
    background-color: var(--text-dark);
}

.settings_all_colours_display span:nth-child(18) {
    background-color: var(--text-dark-secondary);
}


/**/