:root {}

.SETTINGSmodalEnvironment {
    position: fixed;
    z-index: 100000;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    //background-color: hsla(0, 100%, 80%, 0.3);

}



/* the modal container /settings area */
.SETTINGSmodalContainer {
    position: relative;
    width: 30rem;
    height: 22rem;
    border-radius: 8px;
    overflow: hidden;
    outline: 1px solid hsla(0, 0%, 100%, 0.3);
    background-color: hsla(330, 20%, 10%, 1.0);

}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .SETTINGSmodalContainer {
        width: 100%;
        height: 42%;
        aspect-ratio: 1/1;
        align-self: end;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        outline: 0px solid transparent;


    }
}

.SETTINGSmodalTopTextContainer {
    margin: 1rem;
    position: relative;
    font-weight: 600;
    font-size: 3rem;
    color: white;

}

.SETTINGSmodalFormAreaContainer {
    margin: 1rem;
    position: relative;
}


.SETTINGSmodalFormAreaContainer input {
    all: unset;
    color: white;
    font-size: 1rem;

    outline: 1px solid hsla(330, 10%, 30%, 1.0);
    background-color: hsla(330, 10%, 20%, 1.0);
    width: calc((100% - 1rem) - 0.5rem);
    margin-left: 0.5rem;

    border-radius: 0.5rem;

    padding: 0rem;
    margin-top: 0rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;

    height: 3rem;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .SETTINGSmodalFormAreaContainer input {
        width: calc((100% - 1rem) - 0.5rem);
        height: 3rem;

    }

}

.SETTINGSmodalFormAreaContainer input:focus {
    outline: 2px solid red;
    background-color: hsla(0, 0%, 20%, 0.5);
}

.SETTINGSmodalSubmit {
    padding-right: 0.35rem !important;
    width: 7rem !important;
}

.SETTINGSmodalSubmit:focus {
    background-color: red !important;
}

.SETTINGSmodalFormAreaText {
    color: white;
    position: relative;
    left: 0.5rem;
    top: -0.3rem;
}

/* random image */
.SETTINGSrandomImage {
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 10rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 8px;
    display: none;
}


.SETTINGSrandomImage img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* status indicator */
.SETTINGSmodalStatusIndicatorContainer {
    position: absolute;
    width: 30rem;
    height: 18rem;
    border-radius: 8px;
    overflow: hidden;
    z-index: -1;
    display: grid;
    place-items: center
}

.SETTINGSmodalStatusIndicatorOuterCircle {
    --objectSize: 0rem;
    --objectOutline: 0rem;
    position: absolute;
    height: var(--objectSize);
    width: var(--objectSize);
    border-radius: 50%;
    outline: var(--objectOutline) solid hsla(0, 100%, 50%, 1.0);

}


.SETTINGSanimateError {
    animation-name: SettingsError;
    animation-duration: 2s;
}

@keyframes SettingsError {
    0% {
        height: 0rem;
        width: 0rem;
        outline: 0rem solid hsla(0, 100%, 50%, 1.0);
    }

    35% {
        outline: 10rem solid hsla(0, 100%, 50%, 1.0);
    }

    100% {
        height: 35rem;
        width: 35rem;
        outline: 30rem solid hsla(0, 100%, 50%, 1.0);
    }
}

.SETTINGSanimateGreen {
    animation-name: SettingsGreen;
    animation-duration: 2s;

}


@keyframes SettingsGreen {
    0% {
        height: 0rem;
        width: 0rem;
        outline: 0rem solid hsla(150, 100%, 40%, 1.0);
    }

    35% {
        outline: 10rem solid hsla(150, 100%, 40%, 1.0);
    }

    100% {
        height: 35rem;
        width: 35rem;
        outline: 30rem solid hsla(150, 100%, 40%, 1.0);
    }
}

















/**/