:root {

    --TOPRIGHT-playbackcontrols-width: 10rem;
    --TOPRIGHT-playbackcontrols-leftoffset: calc((100% - var(--TOPRIGHT-playbackcontrols-width)) / 2);

    --TOPRIGHT-accountcontrols-volumeslider-width: 8rem;
    --TOPRIGHT-accountcontrols-queue-opacity: 0%;


    --TOPRIGHT-playbackcontrols-width: 10rem;
    --TOPRIGHT-playbackcontrols-width2: 25%;
    --TOPRIGHT-lcd-width: 40%;
    --TOPRIGHT-accountcontrols-width: 35%;
}



.TOPRIGHT-topHalf-right-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .TOPRIGHT-topHalf-right-content {
        display: block;
    }
}

/* playback controls : left ------------------------------------------------- */
.TOPRIGHT-playbackcontrols-container {
    position: relative;
    height: 100%;
    width: var(--TOPRIGHT-playbackcontrols-width2);
    display: flex;
    justify-content: center;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .TOPRIGHT-playbackcontrols-container {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
    }
}

.TOPRIGHT-playbackcontrols-displacement {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--TOPRIGHT-playbackcontrols-width);
    height: 100%;
}

@media (max-width: 850px) {
    .TOPRIGHT-playbackcontrols-container {
        width: 10rem;
        visibility: visible;
    }

    .TOPRIGHT-playbackcontrols-displacement {
        width: 90%;
    }
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .TOPRIGHT-playbackcontrols-displacement {
        position: relative;
        height: 100%;
        visibility: visible;
        right: 0;
    }
}

#PLAYERplayButton,
#PLAYERshuffleButton,
#PLAYERbackButton,
#PLAYERnextButton,
#PLAYERloopButton {
    filter: var(--make-svg-grey);

}

#PLAYERplayButton:hover,
#PLAYERshuffleButton:hover,
#PLAYERbackButton:hover,
#PLAYERnextButton:hover,
#PLAYERloopButton:hover {
    filter: none !important;
}

.TOPRIGHT-svg-image-buttons-relative-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: none;
}

.TOPRIGHT-svg-image-buttons-absolute-container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: none;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    #PLAYERplayButton {
        z-index: 2;
        width: 2rem;
        position: absolute;
        top: 0.2rem;
        right: rem;
        transform: scale(1.6);
    }

    #PLAYERnextButton {
        z-index: 2;
        width: 2rem;
        height: 8rem;
        height: 100%;
        position: absolute;
        right: 0rem;
        transform: scale(2);
    }

    #PLAYERshuffleButton,
    #PLAYERbackButton,
    #PLAYERloopButton {
        display: none;
    }
}

/* lcd  : middle -------------------------------------------------  */
.TOPRIGHT-lcd-container {
    position: relative;
    height: 100%;
    width: var(--TOPRIGHT-lcd-width);
}

@media (max-width: 850px) {
    .TOPRIGHT-lcd-container {
        width: 60%;
    }
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .TOPRIGHT-lcd-container {
        position: absolute;
        width: calc(100% - 8rem);
    }
}

/* account controls : right ------------------------------------------------- */
.TOPRIGHT-accountcontrols-container {
    position: relative;
    height: 100%;
    width: var(--TOPRIGHT-accountcontrols-width);
    display: flex;
    justify-content: space-between;
}

@media screen and (orientation: portrait) and (max-width: 768px) and (pointer: coarse) {
    .TOPRIGHT-accountcontrols-container {
        display: none;
    }
}

@media (max-width: 850px) {
    .TOPRIGHT-accountcontrols-container {
        display: none;
        visibility: hidden;
    }
}

.TOPRIGHT-accountcontrols-volumeslider-container {
    position: relative;
    height: 100%;
    width: var(--TOPRIGHT-accountcontrols-volumeslider-width);
    display: flex;
    justify-content: space-apart;
}

/* volume icons */
.TOPRIGHT-accountcontrols-volumeslider-volumeIcons-container {
    display: grid;
    place-items: center;
    position: relative;
    height: 100%;
    width: 15%;
    margin-left: 5%;
}

.TOPRIGHT-accountcontrols-volumeslider-volumeIcons-container img {
    position: absolute;
    left: -03%;
}

#volumeControlZero,
#volumeControlOne,
#volumeControlTwo {
    visibility: hidden;
}

/* volume slider */
#volumeSliderID {
    /* the parent container of the slider */
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

/* the actual slider */
#volumeSliderID input[type="range"] {
    -webkit-appearance: none;
    position: relative;
    width: 70%;
    height: 0.15rem;
    border-radius: 8px;
    cursor: pointer;

    background-color: var(--background-overlay);
}

#volumeSliderID input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    cursor: pointer;

    background: var(--background);
    outline: 1px solid var(--text);
}

#volumeSliderID input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.TOPRIGHT-accountcontrols-buttonarea-container {
    position: relative;
    height: 100%;
    width: 6rem;
    right: 0;
    display: flex;
    justify-content: space-apart;
}

.TOPRIGHT-accountcontrols-buttonarea-queue-container {
    position: relative;
    height: 100%;
    width: 4rem;
}

.TOPRIGHT-accountcontrols-buttonarea-queue-positioner {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.TOPRIGHT-accountcontrols-buttonarea-queue-positioner::before {
    --height-of-queueBackground: 2rem;
    content: "";
    position: absolute;
    height: var(--height-of-queueBackground);
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 5px;
    opacity: var(--TOPRIGHT-accountcontrols-queue-opacity);

    background-color: var(--background);
}

#queueIcon {
    position: relative;
}

/* account image ----------------------- */
.TOPRIGHT-accountImageContainer {
    position: relative;
    height: 100%;
    width: 4rem;
    display: grid;
    place-items: center;
}

.TOPRIGHT-accountImageContainer-imgContainer {
    --height: 1.3rem;
    position: relative;
    width: var(--height);
    aspect-ratio: 1/1;
    height: var(--height);
    overflow: hidden;
    border-radius: 50%;
}

.TOPRIGHT-accountImageContainer-imgContainer img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}