services:
  # For Exposing apis and file hosting to the internet
  #cloudflared:
  #  image: cloudflare/cloudflared:latest
  #  command: tunnel --no-autoupdate run --token ${CLOUDFLARED_TOKEN}
  #  networks:
  #    - tunnel

  # Database
  postgres:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - tunnel


  # Api
  go:
    build:
      context: ./go_api
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - om2data:/var/www/media
    ports:
      - "6001:6000"
    networks:
      - tunnel
    depends_on:
      - postgres

  # Postgres admin - not for prod
  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - tunnel

networks:
  tunnel:
    driver: bridge

volumes:
  pgdata:
  pgadmin_data:
  om2data: