version: '3'
services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - tunnel
    env_file:
      - .env
    volumes:
      - om2data:/var/www/media
      - fastapi_code:/app
    restart: always

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${CLOUDFLARED_TOKEN}
    networks:
      - tunnel

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - tunnel

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - tunnel

  chipmunk_processor:
    build:
      context: ./chipmunk_processor
    volumes:
      - ./chipmunk_processor/app:/app
      - chipmunk_data:/chipmunk_data
    networks:
      - tunnel
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "9000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - om2data:/var/www/media

networks:
  tunnel:
    driver: bridge

volumes:
  pgdata:
  pgadmin_data:
  om2data:
  fastapi_code:
    driver: local  # Use the local driver to map a local directory
    driver_opts:
      type: none
      o: bind
      device: /Users/Leo/Documents/programming/web/orange-music-2/src/apis  
  chipmunk_data:



