.ADMINusersTableEnvironment {
    position: relative;
    width: 95%;
    margin-left: 2.5%;


}

.ADMINusersTableTopRow {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 23rem 1fr 1fr;

    border: 1px solid transparent;
    padding: 8px;

    color: white;
    height: 1.3rem;
    width: 95%;

    margin-bottom: 1rem;
}

.ADMINusersTableTopRow::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.1rem;

    bottom: 0;

    background-color: white;
}




.ADMINusersTableInfoRow {
    display: grid;
    grid-template-columns: 2fr 2fr 23rem 1fr 1fr;
    padding: 8px;
    color: white;

    height: 1.3rem;
    width: 95%;
    font-family: Victor Mono;
    font-weight: 200;
    font-size: 0.9em;

}

.ADMINusersTableInfoRow:nth-child(even) {
    background-color: hsla(0, 00%, 100%, 0.2);

}

.ADMINusersTableInfoRow:nth-child(odd) {
    background-color: hsla(0, 00%, 50%, 0.2);

}

.ADMINusersTableInfoRow:nth-child(1) {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.ADMINusersTableInfoRow:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


.cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.USERNAMEfieldWithImageContainer {
    position: relative;
    display: inline-flex;
}

.USERNAMEfieldWithImageContainer img {
    margin-right: 0.3rem;
    border-radius: 4px;
}


.ADMINusersTableInforRowsContainer {
    position: relative;

    max-height: 20rem;

    overflow: hidden;
    overflow-y: scroll;

}